﻿@{
    ViewBag.Title = "About";
    if (ViewBag.Name == "admin")
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    if (ViewBag.Name == "member")
    {
        Layout = "~/Views/Shared/_LayoutGuitar.cshtml";
    }
    if (ViewBag.Name == "visitor")
    {
        Layout = "~/Views/Shared/_LayoutVisitor.cshtml";
    }
}

<div class="content-wrap">
    <div id="intro">
        <div class="one-fourth serv first">
            <img src="/Images/service-1.png" alt="">
            <h3><a href="#">Free Shipping</a></h3>
            <span>Available</span>
        </div>
        <div class="one-fourth serv">
            <img src="/Images/service-2.png" alt="">
            <h3><a href="#">30 Days Return</a></h3>
            <span>Easy Return</span>
        </div>
        <div class="one-fourth serv">
            <img src="/Images/service-3.png" alt="">
            <h3><a href="#">Call Us</a></h3>
            <span>(63) 912 3456</span>
        </div>
        <div class="one-fourth serv">
            <img src="/Images/service-4.png" alt="">
            <h3><a href="#">Secured</a></h3>
            <span>Checkout</span>
        </div>
    </div>


            <div class="container-2">
                <div style="clear:both; display:block; height:40px"></div>
                <div class="one-third first">
                    <h1 id="duy">Giới Thiệu</h1>
                    <p><b>Trung tâm chúng tôi có nhiều loại đàn như classsic,acoustic,bass... .có đầy đủ linh kiện hỗ trợ nhưng ai có sở thích về Guitar.Sản phẩm của chúng tôi bao gồm các thương hiệu trong và ngoài nước đảm bảo về chất lượng,giá cả hợp lý,có bảo hành cho quý khách.Hy vọng sẽ khiến quý khách hài lòng.</b></p>
                    <p><b>Our center has a variety of men as classsic, acoustic, bass ... . components have full support, but who have interest in our products Guitar.San including domestic and foreign brands to ensure quality, reasonable price, warranty khach.Hy you expect will make you satisfied.</b> </p>
                    <h1 id="Duy">Đặc biệt</h1>
                    <p><b>Chúng tôi có nhiều chương trình khuyến mãi,thẻ ưu đãi và dịch vụ gia hàng tận nơi.Chúng tôi sẽ đáp ứng tốt nhất tới khách hàng đảm bảo quý khách hài lòng khi đến với chúng tôi.Quý khách có thắc mắc gì hãy gửi yêu càu cho chúng tôi.Nếu không hài lòng xin hãy đóng góp ý kiền.</b></p>
                    <p><b>Our has multiple Program khuyến mại, các priority Đại and service 'gia row world đang ẩn nơi.Chúng me would response best first to' khach hang ensure Quý guest Hải Long on to 'with them tôi.Quý customers are Thác Mac something Please ask for them in tôi.Nếu non Hải Long please contribute comments.</b> </p>
                </div>
                <div class="one-third">
                    <img src="/Images/1.jpg" alt="">
                </div>
                <div class="one-third">
                    <div class="fb-like-box" data-href="http://www.facebook.com/HTML5Awesome" data-width="280" data-show-faces="true" data-stream="false" data-border-color="#e5e5e5" data-header="false"></div>
                </div>
            </div><!--end:container-2-->







</div><!--end:content-wrap-->