﻿@model WebsiteBanHang.Models.TaiKhoan
@{
    ViewBag.Title = "Account";
    if (ViewBag.Name == "admin")
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    if (ViewBag.Name == "member")
    {
        Layout = "~/Views/Shared/_LayoutGuitar.cshtml";
    }
}



<div class="content-wrap">
    <div id="intro">
        <div class="one-fourth serv first">
            <img src="/Images/service-1.png" alt="">
            <h3><a href="#">Free Shipping</a></h3>
            <span>Available</span>
        </div>
        <div class="one-fourth serv">
            <img src="/Images/service-2.png" alt="">
            <h3><a href="#">30 Days Return</a></h3>
            <span>Easy Return</span>
        </div>
        <div class="one-fourth serv">
            <img src="/Images/service-3.png" alt="">
            <h3><a href="#">Call Us</a></h3>
            <span>(63) 912 3456</span>
        </div>
        <div class="one-fourth serv">
            <img src="/Images/service-4.png" alt="">
            <h3><a href="#">Secured</a></h3>
            <span>Checkout</span>
        </div>
    </div>
    <div class="container-2">
        <section class="content-wrapper main-content clear-fix">











            <h2>Account</h2>

            <div>
                <h1>Ten:</h1>
                @Model.tk_TenNguoiDung

                <h1>Email:</h1>
                @Model.tk_Email

            </div>















        </section>
    </div><!--end:container-2-->
</div><!--end:content-wrap-->