﻿@model IList<WebsiteBanHang.Models.GioHang>
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_LayoutGuitar.cshtml";
}

<div class="content-wrap">
    <div id="intro">
        <div class="one-fourth serv first">
            <img src="/Images/service-1.png" alt="">
            <h3><a href="#">Free Shipping</a></h3>
            <span>Available</span>
        </div>
        <div class="one-fourth serv">
            <img src="/Images/service-2.png" alt="">
            <h3><a href="#">30 Days Return</a></h3>
            <span>Easy Return</span>
        </div>
        <div class="one-fourth serv">
            <img src="/Images/service-3.png" alt="">
            <h3><a href="#">Call Us</a></h3>
            <span>(63) 912 3456</span>
        </div>
        <div class="one-fourth serv">
            <img src="/Images/service-4.png" alt="">
            <h3><a href="#">Secured</a></h3>
            <span>Checkout</span>
        </div>
    </div>
    <div class="container-2">
        <div style="clear:both; display:block; height:40px"></div>
        <h2>List &nbsp;<small> update</small></h2>









                
                <table class="shopping-cart">
                    <tr>
                        <th class="image">Image</th>
                        <th class="name">Product Name</th>
                        <th class="model">Type</th>
                        <th class="total">Color</th>
                        <th class="quantity">Count</th>
                        <th class="price">Price</th>
                        <th class="action">Action</th>
                    </tr>
                    @for (int i = 0; i < Model.Count(); i++)
                    {
                        <tr>
                            <td class="image"><a href="#"><img title="product" alt="product" src="@Model[i].ctgh_SanPham.sp_HinhAnh" height="50" width="50"></a></td>
                            <td class="name"><a href="#">@Model[i].ctgh_SanPham.sp_TenSanPham</a></td>
                            <td class="model">@Model[i].ctgh_SanPham.sp_Loai</td>
                            <td class="total">@Model[i].ctgh_SanPham.sp_MauSac</td>
                            <td class="quantity"><input type="text" size="1" value="@Model[i].ctgh_SoLuong" name="quantity[40]" class="span1"></td>
                            <td class="price">@Model[i].ctgh_TongTien</td>
                            <td class="remove-update">
                                <a class="tip remove" title="Remove" href="@Url.Action("DeleteCart", new { id = @Model[i].ctgh_SanPham.sp_Id })">
                                    <img src="@Url.Content("/Images/remove.png")"  />
                                </a>
                                <a class="tip update" title="Up" href="@Url.Action("UpCart", new { id = @Model[i].ctgh_SanPham.sp_Id })">
                                    <img src="@Url.Content("/Images/up.png")" />
                                </a>
                                <a class="tip update" title="Down" href="@Url.Action("DownCart", new { id = @Model[i].ctgh_SanPham.sp_Id })">
                                    <img src="@Url.Content("/Images/down.png")" />
                                </a>
                            </td>
                        </tr>
                     
                    }
                </table>
                <table class="alltotal">
                    <tr>
                        <td><span class="extra grandtotal">Total :</span></td>
                        @if(Model.Count()>0)
                        { 
                        <td><span class="grandtotal">$@Model[0].ctgh_Tong</span></td>
                        }
                        
                    </tr>
                </table>
                <div class="subs">
                    <form action="/GuiTar/CheckOut" class="subscribes">
                        <fieldset>
                            <input type="submit" value="CheckOut" class="submit" />
                        </fieldset>
                    </form>
                    <form action="/GuiTar/DeleteAll" class="subscribes">
                        <fieldset>
                            <input type="submit" value="DeleteAll" class="submit" />
                        </fieldset>
                    </form>
                    </div>












    </div><!--end:container-2-->
</div><!--end:content-wrap-->