﻿@model IList<WebsiteBanHang.Models.GioHang>
@{
    ViewBag.Title = "CheckOut";
    Layout = "~/Views/Shared/_LayoutCheckout.cshtml";
     
}


<div class="content-wrap">
    <div style="clear:both; display:block; height:20px"></div>
    <div id="intro">
        <div class="one-fourth serv first">
            <img src="/Images/service-1.png" alt="">
            <h3><a href="#">Free Shipping</a></h3>
            <span>Available</span>
        </div>
        <div class="one-fourth serv">
            <img src="/Images/service-2.png" alt="">
            <h3><a href="#">30 Days Return</a></h3>
            <span>Easy Return</span>
        </div>
        <div class="one-fourth serv">
            <img src="/Images/service-3.png" alt="">
            <h3><a href="#">Call Us</a></h3>
            <span>(63) 912 3456</span>
        </div>
        <div class="one-fourth serv">
            <img src="/Images/service-4.png" alt="">
            <h3><a href="#">Secured</a></h3>
            <span>Checkout</span>
        </div>
    </div>
    @if(Model.Count()>0)
    { 
    <div class="container-2">
        <div style="clear:both; display:block; height:40px"></div>
        <h2>Checkout: &nbsp;<small>Checkout Steps</small></h2>
        <div id="tab" class="tab2">
            <ul class="nav nav2">
                <li class="nav-one"><a href="#billing" class="current">1. Billing Details</a></li>
                <li class="nav-two"><a href="#deliverymethod">2. Delivery Method</a></li>
                <li class="nav-three"><a href="#payment">3. Payment Method</a></li>
                <li class="nav-four"><a href="#confirm">4. Confirm Order</a></li>
            </ul>
            <div class="list-wrap checkoutbox">
             @using (Html.BeginForm("CheckOut","Guitar"))
              {
                <div id="billing">

                    <div id="form-register">
                        <div class="one-third first">
                            <h3>Your Personal Details</h3>
                            <div class="registerbox">
                                <fieldset>

                                    <div class="control-group">
                                        <label class="control-label"><span class="red">*</span> Full Name:</label>
                                        <div class="controls">                                           
                                             @Html.TextBoxFor(m => m[0].ctgh_KhachHang.tk_TenNguoiDung)
                                            @*<input type="text" class="input-xlarge" name="fullName" value="@Model[0].ctgh_KhachHang.tk_TenNguoiDung">*@
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label"><span class="red">*</span> Email:</label>
                                        <div class="controls">
                                            @Html.TextBoxFor(m => m[0].ctgh_KhachHang.tk_Email)
                                             </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label"><span class="red">*</span> Telephone:</label>
                                        <div class="controls">                     
                                            @Html.TextBoxFor(m => m[0].ctgh_KhachHang.tk_SoDienThoai)
                                            @*<input type="text" class="input-xlarge" name="phone" value="@Model[0].ctgh_KhachHang.tk_SoDienThoai">*@
                                        </div>
                                    </div>

                                </fieldset>
                            </div>
                        </div>
                        <div class="one-third">

                            <div class="registerbox">
                                <fieldset>
                                    <br>

                                    <div class="control-group">
                                        <label class="control-label"><span class="red">*</span> Address:</label>
                                        <div class="controls">
                                            @Html.TextBoxFor(m => m[0].ctgh_KhachHang.tk_DiaChi)
                                          @*  <input type="text" class="input-xlarge" name="address" value="@Model[0].ctgh_KhachHang.tk_DiaChi">*@
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label">
                                            <span class="red">*</span>Date Ship:
                                        </label>
                                        <div class="controls">
                                         
                                            <input type="text" id="datepicker" class="input-xlarge" name="date" value="@DateTime.Now.Month/@DateTime.Now.Day/@DateTime.Now.Year">
                                               @*@Html.TextBox("date")*@
                                            </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">
                                            <span class="red">*</span>Post Code:
                                        </label>
                                        <div class="controls">
                                            <input type="text" class="input-xlarge">
                                        </div>
                                    </div>

                                </fieldset>
                            </div>
                        </div>
                    </div>

                    </div>
                <div id="deliverymethod" class="hide">
                    <p>Please select the preferred shipping method to use on this order.</p>
                    <label class="inline">
                        @Html.RadioButton("ship", 0, new { Checked = "checked" })
                        Direct Shipping
                    </label>
                    <label class="inline">
                        @Html.RadioButton("ship", 1)
                        Moving goods by post
                    </label>
                    <label class="inline">
                        @Html.RadioButton("ship", 2)
                        Self shipping
                    </label>

</div><!--end:deliverymethod-->
                <div id="payment" class="hide">
                    <p>Please select the preferred payment method to use on this order.</p>

                        <label class="inline">
                            @Html.RadioButton("pay", 0, new { Checked = "checked" })
                            Cash on delivery
                        </label>
                        <label class="inline">
                           @Html.RadioButton("pay", 1)
                            ATM
                        </label>
</div><!--end:payment-->
                <div id="confirm" class="hide">
                    <table class="shopping-cart">
                        <tr>
                            <th class="image">Image</th>
                            <th class="name">Product Name</th>
                            <th class="model">Type</th>
                            <th class="total">Color</th>
                            <th class="quantity">Count</th>
                            <th class="price">Price</th>
                        </tr>
                        @for (int i = 0; i < Model.Count(); i++)
                        {
                            <tr>
                                <td class="image"><a href="#"><img title="product" alt="product" src="@Model[i].ctgh_SanPham.sp_HinhAnh" height="50" width="50"></a></td>
                                <td class="name"><a href="#">@Model[i].ctgh_SanPham.sp_TenSanPham</a></td>
                                <td class="model">@Model[i].ctgh_SanPham.sp_Loai</td>
                                <td class="total">@Model[i].ctgh_SanPham.sp_MauSac</td>
                                <td class="quantity"><input type="text" size="1" value="@Model[i].ctgh_SoLuong" name="quantity[40]" class="span1"></td>
                                <td class="price">@Model[i].ctgh_TongTien</td>
                               
                            </tr>
                        }
                    </table>
                    <div class="contentbox">
                        <div class="alltotal one-half">
                            <table class="alltotal">
                               
                                <tr>
                                    <td><span class="extra grandtotal">Total :</span></td>
                                    <td><span class="grandtotal">$@Model[0].ctgh_Tong</span></td>
                                </tr>
                            </table>

                            <input type="submit" value="CheckOut" >
                           
                        </div><!--end:alltotal-->
                    </div><!--end:contentbox-->
                </div><!--end:confirm-->
             }
            </div>
        </div>
        <div style="clear:both; display:block; height:40px"></div>
    </div><!--end:container-2-->
    }
    else
    {
        <h3>Không có sản phẩm trong giỏ hàng !!</h3> 
    }
    <div class="container-2">
        <div style="clear:both; display:block; height:40px"></div>
        <div class="ship">
            <a href="#"><img src="/Images/service-1.png" alt=""></a>
            <h4><a href="#">Free Shipping</a></h4>
            <span>On order over $300</span>
        </div>
        <div class="subs">
            <h4>Sign up for our Newsletter</h4>
            <form action="#" method="post" class="subscribes">
                <fieldset>
                    <input type="text" name="subscribe" class="subscribe" value="Subscribe" onblur="if (this.value == ''){this.value = 'Subscribe'; }" onfocus="if (this.value== 'Subscribe') {this.value = ''; }" />
                    <input type="submit" name="submit" value="Submit" class="submit" />
                </fieldset>
            </form>
        </div>
    </div>
</div><!--end:content-wrap-->
