﻿@{
    ViewBag.Title = "Classic";
    if (ViewBag.Name == "admin")
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    if (ViewBag.Name == "member")
    {
        Layout = "~/Views/Shared/_LayoutGuitar.cshtml";
    }

    if (ViewBag.Name == "visitor")
    {
        Layout = "~/Views/Shared/_LayoutVisitor.cshtml";
    }
}


<div class="content-wrap">
    <div id="intro">
        <div class="one-fourth serv first">
            <img src="/Images/service-1.png" alt="">
            <h3><a href="#">Free Shipping</a></h3>
            <span>Available</span>
        </div>
        <div class="one-fourth serv">
            <img src="/Images/service-2.png" alt="">
            <h3><a href="#">30 Days Return</a></h3>
            <span>Easy Return</span>
        </div>
        <div class="one-fourth serv">
            <img src="/Images/service-3.png" alt="">
            <h3><a href="#">Call Us</a></h3>
            <span>(63) 912 3456</span>
        </div>
        <div class="one-fourth serv">
            <img src="/Images/service-4.png" alt="">
            <h3><a href="#">Secured</a></h3>
            <span>Checkout</span>
        </div>
    </div>
    <div class="container-2">
        <section class="content-wrapper main-content clear-fix">










            <div class="container-2">
                <div style="clear:both; display:block; height:40px"></div>
                <h2>Clothing &nbsp;<small>Select your favorie clothes.</small></h2>
                <section id="options" class="clearfix filter-option">
                    <ul id="filters" class="option-set clearfix" data-option-key="filter">
                        <li><a href="#filter" data-option-value="*">All</a></li>
                        <li>/<a href="#filter" data-option-value=".sales">Sale</a></li>
                        <li>/<a href="#filter" data-option-value=".newarrival">New Arrival</a></li>
                    </ul>
                </section>
                @Html.Raw(ViewBag.ThongBao)
                <div id="works-container">
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <div class="element sales da-thumbs item" data-category="sales">
                            <div class="product-thumb-hover">
                                <section>
                                    <img src="@Model[i].sp_HinhAnh" alt="">
                                    <p class="sale">Sale</p>
                                    @*<article class="da-animate da-slideFromRight" style="display: block;">
                                        <h3>@Model[i].sp_TenSanPham</h3>
                                        <p>
                                            <a href="product-detail.html" class="link tip" title="View Detail"></a>&nbsp;
                                            <a href="cart.html" class="cart tip" title="Add to cart"></a>&nbsp;&nbsp;
                                            <a href="images/preview/work_1_l.jpg" rel="prettyPhoto[gallery1]" class="zoom tip" title="Zoom"></a>
                                        </p>
                                    </article>*@
                                </section>
                            </div>
                            <section class="right">
                                <h3>@Model[i].sp_TenSanPham</h3>
                                <span class="price"><small></small>&nbsp;&nbsp; $@Model[i].sp_GiaTien</span>
                                <ul class="menu-button">
                                    @{String[] image = @Model[i].sp_HinhAnh.Split('.');
                                    String bigImages = image[0] + "b." + image[1];
                                    }
                                    <li><a href="@bigImages" rel="prettyPhoto[gallery1]" class="zoom tip" title="Zoom"></a></li>
                                    <li><a href="#" class="wishlist tip" title="Add to Wishlist"></a></li>
                                    @if (ViewBag.Name == "member")
                                    {
                                        <li>
                                            <a class="cart tip" title="Add to cart" href="@Url.Action("AddCart", new { id = @Model[i].sp_Id })">
                                            </a>
                                        </li>
                                    }

                                    <li>
                                        <a class="link tip" title="View Detail" href="@Url.Action("Detail", new { id = @Model[i].sp_Id })">
                                        </a>
                                    </li>
                                </ul>
                            </section>
                        </div>
                    }

                </div><!--end:works-container-->
                <ul id="pagination">
                    <li><a class="current" href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">next</a></li>
                </ul>
                <div style="clear:both; display:block; height:40px"></div>
            </div><!--end:container-2-->



            <div class="container-2">
                <div style="clear:both; display:block; height:40px"></div>
                <div class="ship">
                    <a href="#"><img src="/Images/service-1.png" alt=""></a>
                    <h4><a href="#">Free Shipping</a></h4>
                    <span>On order over $300</span>
                </div>
                <div class="subs">
                    <h4>Sign up for our Newsletter</h4>
                    <form action="#" method="post" class="subscribes">
                        <fieldset>
                            <input type="text" name="subscribe" class="subscribe" value="Subscribe" onblur="if (this.value == ''){this.value = 'Subscribe'; }" onfocus="if (this.value== 'Subscribe') {this.value = ''; }" />
                            <input type="submit" name="submit" value="Submit" class="submit" />
                        </fieldset>
                    </form>
                </div>
            </div><!--end:container-2-->


















        </section>
    </div><!--end:container-2-->
</div><!--end:content-wrap-->