﻿@{
    ViewBag.Title = "About";
    if (ViewBag.Name == "admin")
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    if (ViewBag.Name == "member")
    {
        Layout = "~/Views/Shared/_LayoutGuitar.cshtml";
    }
    if (ViewBag.Name == "visitor")
    {
        Layout = "~/Views/Shared/_LayoutVisitor.cshtml";
    }
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Shopy Mart - Responsive E-commerce Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!--MENU-->
    <script type="text/javascript">
        $(document).ready(function ($) {
            $('#mega-menu-3').dcMegaMenu({
                rowItems: '2',
                speed: 'fast',
                effect: 'fade'
            });
        });
    </script>
    <!--MENU-->
    <script type="text/javascript">
        $(document).ready(function ($) {
            $('#mega-menu-3').dcMegaMenu({
                rowItems: '2',
                speed: 'fast',
                effect: 'fade'
            });
        });
    </script>
</head>
<body onload="initialize()">
    <div id="page_wrap">
        <div id="container">
            <div class="content-wrap">
                <div style="clear:both; display:block; height:20px"></div>
                <div id="intro">
                    <div class="one-fourth serv first">
                        <img src="/Images/service-1.png" alt="">
                        <h3><a href="#">Free Shipping</a></h3>
                        <span>Available</span>
                    </div>
                    <div class="one-fourth serv">
                        <img src="/Images/service-2.png" alt="">
                        <h3><a href="#">30 Days Return</a></h3>
                        <span>Easy Return</span>
                    </div>
                    <div class="one-fourth serv">
                        <img src="/Images/service-3.png" alt="">
                        <h3><a href="#">Call Us</a></h3>
                        <span>(63) 912 3456</span>
                    </div>
                    <div class="one-fourth serv">
                        <img src="/Images/service-4.png" alt="">
                        <h3><a href="#">Secured</a></h3>
                        <span>Checkout</span>
                    </div>
                </div>
                <div class="container-2">
                    <section class="content">
                        <h3>Xem vị trí của chúng tôi trên bản đồ</h3>
                        <div id="map_canvas"></div>
                        <h3>Vui lòng sử dụng mẫu dưới đây để liên lạc với chúng tôi.</h3>
                        <p>
                            227 đường Nguyễn Văn Cừ, Q.5, Tp. Hồ Chí Minh, Việt Nam<br><br>
                            Phone: 012345678910<br>
                            Fax: 012345678910<br>
                            Email: <a href="mailto:info@domainname.com">info@domainname.com</a>
                        </p>
                        <form action="javascript:alert('success!');" id="ajax-contact-form" class="contactForm">
                            <div id="note"></div>
                            <p>
                                <input type="text" name="name" value="Tên của bạn" onblur="if (this.value == ''){this.value = 'Your Name'; }" onfocus="if (this.value == 'Your Name') {this.value = '';}">
                                &nbsp;
                                <input type="text" name="email" value="Email của bạn" onblur="if (this.value == ''){this.value = 'Your Email'; }" onfocus="if (this.value == 'Your Email') {this.value = '';}">
                                &nbsp;
                                <input type="text" name="website" value="Website của bạn" onblur="if (this.value == ''){this.value = 'Your Website'; }" onfocus="if (this.value == 'Your Website') {this.value = '';}">
                            </p>
                            <p>
                                <textarea name="message" rows="10" cols="20" onblur="if (this.value == ''){this.value = 'Your Message'; }" onfocus="if (this.value == 'Your Message') {this.value = '';}">Thư của bạn</textarea>
                            </p>
                            <p>
                                <input type="submit" name="submit" class="submit" value="Gửi thư">
                            </p>
                        </form>
                    </section>
                    <aside class="sidebar">
                        <!--end:side-->
                        <div class="side">
                            <h4>Sản phẩm Bán Chạy</h4>
                            <div class="entry">
                                <div class="da-thumbs">
                                    <div>
                                        <img src="/Images/products/thumb-1.jpg" alt="">
                                        <article class="da-animate da-slideFromRight" style="display: block;">
                                            <p><a href="product-detail.html" class="link"></a></p>
                                        </article>
                                    </div>
                                </div>
                                <h3><a href="product-detail.html">Bộ Khuyếch Đại</a></h3>
                                <small>$59.95</small>
                            </div>
                            <div class="entry">
                                <div class="da-thumbs">
                                    <div>
                                        <img src="/Images/products/thumb-2.jpg" alt="">
                                        <article class="da-animate da-slideFromRight" style="display: block;">
                                            <p><a href="product-detail.html" class="link"></a></p>
                                        </article>
                                    </div>
                                </div>
                                <h3><a href="product-detail.html">Guitar Điện</a></h3>
                                <small>$59.95</small>
                            </div>
                        </div><!--end:side-->
                        <div class="side">
                            <h4>Binh luận gần đây</h4>
                            <div class="entry">
                                <div class="da-thumbs">
                                    <div>
                                        <img src="/Images/products/thumb-1.jpg" alt="">
                                        <article class="da-animate da-slideFromRight" style="display: block;">
                                            <p><a href="blog.html" class="link"></a></p>
                                        </article>
                                    </div>
                                </div>
                                <h3><a href="blog.html">Pellentesque habitant morbi..</a></h3>
                                <span><a href="blog.html">Posted on:02/28/13</a></span>
                            </div>
                            <div class="entry">
                                <div class="da-thumbs">
                                    <div>
                                        <img src="/Images/products/thumb-2.jpg" alt="">
                                        <article class="da-animate da-slideFromRight" style="display: block;">
                                            <p><a href="blog.html" class="link"></a></p>
                                        </article>
                                    </div>
                                </div>
                                <h3><a href="blog.html">Pellentesque habitant morbi ...</a></h3>
                                <span><a href="blog.html">Posted on:02/28/13</a></span>
                            </div>
                        </div><!--end:side-->
                        <div class="side">
                            <h4>Our Customer Love Us!</h4>
                            <ul class="fade">
                                <li class="feed">
                                    Easy shopping experience! Pricing is attractive! Lots of styles to choose from and great pics!<br>
                                    <small><a href="#">&mdash; Louie Jie Mahusay</a></small>
                                </li>
                              
                            </ul>
                        </div>
                    </aside>
                </div><!--end:container-2-->
                <div class="container-2">
                    <div style="clear:both; display:block; height:40px"></div>
                    <div class="ship">
                        <a href="#"><img src="/Images/service-1.png" alt=""></a>
                        <h4><a href="#">Free Shipping</a></h4>
                        <span>On order over $300</span>
                    </div>
                    <div class="subs">
                        <h4>Sign up for our Newsletter</h4>
                        <form action="#" method="post" class="subscribes">
                            <fieldset>
                                <input type="text" name="subscribe" class="subscribe" value="Subscribe" onblur="if (this.value == ''){this.value = 'Subscribe'; }" onfocus="if (this.value== 'Subscribe') {this.value = ''; }" />
                                <input type="submit" name="submit" value="Submit" class="submit" />
                            </fieldset>
                        </form>
                    </div>
                </div><!--end:container-2-->
            </div><!--end:content-wrap-->
        </div><!--end:container-->
    </div><!--end:page_wrap-->
    <!--GOOGLE MAP PLUGIN-->
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript">
        function initialize() {
            var latlng = new google.maps.LatLng(8.48333, 124.65000);
            var settings = {
                zoom: 15,
                center: latlng,
                mapTypeControl: true,
                mapTypeControlOptions: { style: google.maps.MapTypeControlStyle.DROPDOWN_MENU },
                navigationControl: true,
                navigationControlOptions: { style: google.maps.NavigationControlStyle.SMALL },
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("map_canvas"), settings);

            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });

            var companyImage = new google.maps.MarkerImage('/Images/logo.png',
                new google.maps.Size(100, 50),
                new google.maps.Point(0, 0),
                new google.maps.Point(50, 50)
            );

            var companyShadow = new google.maps.MarkerImage('../../../html5awesome.com/themeforest/shopymart/images/logo_shadow.html',
                new google.maps.Size(130, 50),
                new google.maps.Point(0, 0),
                new google.maps.Point(65, 50));

            var companyPos = new google.maps.LatLng(8.48333, 124.65000);

            var companyMarker = new google.maps.Marker({
                position: companyPos,
                map: map,
                icon: companyImage,
                shadow: companyShadow,
                title: "Høgenhaug",
                zIndex: 3
            });

            var trainImage = new google.maps.MarkerImage('../../../html5awesome.com/themeforest/shopymart/images/train.html',
                new google.maps.Size(50, 50),
                new google.maps.Point(0, 0),
                new google.maps.Point(50, 50)
            );

            var trainShadow = new google.maps.MarkerImage('../../../html5awesome.com/themeforest/shopymart/images/train_shadow.html',
                new google.maps.Size(70, 50),
                new google.maps.Point(0, 0),
                new google.maps.Point(60, 50)
            );

            var trainPos = new google.maps.LatLng(57.0429, 9.9173);

            var trainMarker = new google.maps.Marker({
                position: trainPos,
                map: map,
                icon: trainImage,
                shadow: trainShadow,
                title: "Train Station",
                zIndex: 2
            });

            var parkingImage = new google.maps.MarkerImage('../../../html5awesome.com/themeforest/shopymart/images/parking.html',
                new google.maps.Size(50, 50),
                new google.maps.Point(0, 0),
                new google.maps.Point(50, 50)
            );

            var parkingShadow = new google.maps.MarkerImage('../../../html5awesome.com/themeforest/shopymart/images/parking_shadow.html',
                new google.maps.Size(70, 50),
                new google.maps.Point(0, 0),
                new google.maps.Point(60, 50)
            );

            var parkingPos = new google.maps.LatLng(57.0437, 9.9147);

            var parkingMarker = new google.maps.Marker({
                position: parkingPos,
                map: map,
                icon: parkingImage,
                shadow: parkingShadow,
                title: "Parking Lot",
                zIndex: 1
            });

            google.maps.event.addListener(companyMarker, 'click', function () {
                infowindow.open(map, companyMarker);
            });
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#ajax-contact-form").submit(function () {

                var str = $(this).serialize();

                $.ajax({
                    type: "POST",
                    url: "contact.php",
                    data: str,
                    success: function (msg) {

                        $("#note").ajaxComplete(function (event, request, settings) {

                            if (msg == 'OK') // Message Sent? Show the 'Thank You' message and hide the form
                            {
                                result = '<div class="notification_ok">Your message has been sent. Thank you!</div>';
                                $("#fields").hide();
                            }
                            else {
                                result = '<ul class="error">' + msg + '</ul>';
                            }

                            $(this).html(result);

                        });

                    }

                });

                return false;

            });

        });
    </script>
</body>
</html>
