﻿@model WebsiteBanHang.Models.CTSanPham
@{
    ViewBag.Title = "Detail";
    if (ViewBag.Name == "admin")
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    if (ViewBag.Name == "member")
    {
        Layout = "~/Views/Shared/_LayoutGuitar.cshtml";
    }

    if (ViewBag.Name == "visitor")
    {
        Layout = "~/Views/Shared/_LayoutVisitor.cshtml";
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Shopy Mart - Responsive E-commerce Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/Content/style.css" type="text/css" rel="stylesheet" media="screen" /> <!-- General style -->
    <link href="~/Content/tipsy.css" type="text/css" rel="stylesheet" media="screen"><!--tooltip-->
    <link href="~/Content/jquery.jqzoom.css" type="text/css" rel="stylesheet" media="screen"><!--zoom-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700|Arvo:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>

    <script type="text/javascript" src="~/Scripts/css3-mediaqueries.js"></script><!--mediaqueries-->
    <script type="text/javascript" src="~/Scripts/modernizr-1.7.min.js"></script><!--modernizr-->
    <script type="text/javascript" src="~/Scripts/jquery.tipsy.js"></script><!--tooltip-->
    <script type="text/javascript" src="~/Scripts/jquery-hover-effect.js"></script><!--Image Hover Effect-->
    <script type='text/javascript' src='~/Scripts/jquery.hoverIntent.minified.js'></script><!--menu-->
    <script type='text/javascript' src='~/Scripts/jquery.dcmegamenu.1.3.3.js'></script><!--menu-->
    <script type="text/javascript" src="~/Scripts/jquery.quovolver.js"></script><!--blockquote-->
    <script type='text/javascript' src="~/Scripts/jquery.jqzoom-core.js"></script><!--image zoom-->
    <script type="text/javascript" src="~/Scripts/organictabs.jquery.js"></script><!--tabs-->
    <script type="text/javascript" src="~/Scripts/custom.js"></script><!--custom-->
    <!--MENU-->
    <script type="text/javascript">
        $(document).ready(function ($) {
            $('#mega-menu-3').dcMegaMenu({
                rowItems: '2',
                speed: 'fast',
                effect: 'fade'
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.jqzoom').jqzoom({
                zoomType: 'innerzoom',
                preloadImages: false,
                zoomWidth: 300,
                alwaysOn: false
            });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $("#tab").organicTabs({
                "speed": 200
            });
        });
    </script>
</head>

<body>
    <div id="page_wrap">
        <div id="container">
            <div class="content-wrap">
                <div style="clear:both; display:block; height:20px"></div>
                <div id="intro">
                    <div class="one-fourth serv first">
                        <img src="/Images/service-1.png" alt="">
                        <h3><a href="#">Free Shipping</a></h3>
                        <span>Available</span>
                    </div>
                    <div class="one-fourth serv">
                        <img src="/Images/service-2.png" alt="">
                        <h3><a href="#">30 Days Return</a></h3>
                        <span>Easy Return</span>
                    </div>
                    <div class="one-fourth serv">
                        <img src="/Images/service-3.png" alt="">
                        <h3><a href="#">Call Us</a></h3>
                        <span>(63) 912 3456</span>
                    </div>
                    <div class="one-fourth serv">
                        <img src="/Images/service-4.png" alt="">
                        <h3><a href="#">Secured</a></h3>
                        <span>Checkout</span>
                    </div>
                </div><!--end:intro-->
                <div class="container-2">
                    <div style="clear:both; display:block; height:40px"></div>
                    <div class="prod">
                        <div class="clearfix">
                            <a href="@Model.bigImages" class="jqzoom" rel='gal1' title="triumph"> <img src="@Model.sp.sp_HinhAnh" style="border: 4px solid #e5e5e5;"> </a>
                        </div>
                        <div class="clearfix">
                            <ul id="thumblist" class="clearfix">
                                <li>
                                    <a class="zoomThumbActive" href='javascript:void(0);' rel="{gallery: 'gal1', smallimage: '@Model.sp.sp_HinhAnh',largeimage: '@Model.bigImages'}"><img src='@Model.sp.sp_HinhAnh'></a>
                                </li>
                                @*<li><a href='javascript:void(0);' rel="{gallery: 'gal1', smallimage: './images/products/product_small2.jpg',largeimage: './images/products/product_big2.jpg'}"><img src='images/products/product_small2.jpg'></a></li>
                                <li><a href='javascript:void(0);' rel="{gallery: 'gal1', smallimage: './images/products/product_small3.jpg',largeimage: './images/products/product_big3.jpg'}"><img src='images/products/product_small3.jpg'></a></li>*@
                            </ul>
                        </div>
                    </div><!--end:prod-->
                    <div class="prod-detail">
                        <h2>@Model.sp.sp_TenSanPham</h2>
                        <span class="price">$@Model.sp.sp_GiaTien</span>
                     <br />
                        <span class="cart-button"><a href="@Url.Action("AddCart", new { id = @Model.sp.sp_Id })">Add to Cart</a></span>
                        <div id="tab">
                            <ul class="nav">
                                <li class="nav-one"><a href="#details" class="current">Details</a></li>
                                <li class="nav-two"><a href="#specs">Specification</a></li>
                                <li class="nav-three"><a href="#reviews">Reviews</a></li>
                                <li class="nav-four last"><a href="#tags">Tags</a></li>
                            </ul>
                            <div class="list-wrap">
                                <div id="details">


                                    <ul>
                                        <li><a href="#">Tên sản phẩm: @Model.sp.sp_TenSanPham</a></li>
                                        <li><a href="#">Màu sắc: @Model.sp.sp_MauSac</a></li>
                                        <li><a href="#">Giá bán: $@Model.sp.sp_GiaTien</a></li>
                                        <li><a href="#">Loại: @Model.sp.sp_Loai</a></li>
                                        <li><a href="#">Tống số lượng: @Model.sp.sp_SoLuong</a></li>
                                        <li><a href="#">Tình trạng: Còn Hàng</a></li>
                                    </ul>
                                </div>
                                <ul id="specs" class="hide">
                                    <li><span>Product Code:</span> Product 01</li>
                                    <li><span>Availability:</span> In Stock</li>
                                    <li><span>Price:</span> $48.00</li>
                                    <li><span>Eco Tax:</span> $1</li>
                                    <li><span>Vat(10%):</span> $7</li>
                                </ul>
                                <div id="reviews" class="hide">
                                    <form action="#">
                                        <fieldset>
                                            <label>Input Text</label>
                                            <input type="text" name="input">
                                            <label>Review</label>
                                            <textarea rows="3"></textarea>
                                        </fieldset>
                                        <input type="submit" class="submit" value="Write a review">
                                    </form>
                                </div>
                                <ul id="tags" class="hide">
                                    <li><a href="#">Guitar</a></li>
                                    <li><a href="#">Guitar Class</a></li>
                                    <li><a href="#">Guitar Dien</a></li>
                                    <li><a href="#">Guitar Bass</a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!--prodetail-->
                    @*<div class="relatedprod">
                        <h4>Related Products</h4>
                        <div class="entry first">
                            <div class="da-thumbs">
                                <div class="div-related">
                                    <img src="/Images/products/product-5.jpg" alt="">
                                    <article class="da-animate da-slideFromRight" style="display: block;">
                                        <p>
                                            <a href="product-detail.html" class="link tip" title="View Detail"></a>&nbsp;
                                            <a href="cart.html" class="cart tip" title="Add to cart"></a>&nbsp;&nbsp;
                                            <a href="/Images/preview/work_1_l.jpg" rel="prettyPhoto[gallery1]" class="zoom tip" title="Zoom"></a>
                                        </p>
                                    </article>
                                </div>
                            </div>
                            <h3><a href="product-detail.html">Guitar Acoutic</a></h3>
                            <span>$59.95</span>
                        </div>
                        <div class="entry">
                            <div class="da-thumbs">
                                <div class="div-related">
                                    <img src="/Images/products/product-4.jpg" alt="">
                                    <article class="da-animate da-slideFromRight" style="display: block;">
                                        <p>
                                            <a href="product-detail.html" class="link tip" title="View Detail"></a>&nbsp;
                                            <a href="cart.html" class="cart tip" title="Add to cart"></a>&nbsp;&nbsp;
                                            <a href="/Images/preview/work_1_l.jpg" rel="prettyPhoto[gallery1]" class="zoom tip" title="Zoom"></a>
                                        </p>
                                    </article>
                                </div>
                            </div>
                            <h3><a href="product-detail.html"> Guitar Bass</a></h3>
                            <span>$59.95</span>
                        </div>
                        <div class="entry">
                            <div class="da-thumbs">
                                <div class="div-related">
                                    <img src="images/products/product-6.jpg" alt="">
                                    <article class="da-animate da-slideFromRight" style="display: block;">
                                        <p>
                                            <a href="product-detail.html" class="link tip" title="View Detail"></a>&nbsp;
                                            <a href="cart.html" class="cart tip" title="Add to cart"></a>&nbsp;&nbsp;
                                            <a href="images/preview/work_1_l.jpg" rel="prettyPhoto[gallery1]" class="zoom tip" title="Zoom"></a>
                                        </p>
                                    </article>
                                </div>
                            </div>
                            <h3><a href="product-detail.html">Guitar Classic</a></h3>
                            <span>$59.95</span>
                        </div>
                        <div class="entry">
                            <div class="da-thumbs">
                                <div class="div-related">
                                    <img src="images/products/product-3.jpg" alt="">
                                    <article class="da-animate da-slideFromRight" style="display: block;">
                                        <p>
                                            <a href="product-detail.html" class="link tip" title="View Detail"></a>&nbsp;
                                            <a href="cart.html" class="cart tip" title="Add to cart"></a>&nbsp;&nbsp;
                                            <a href="images/preview/work_1_l.jpg" rel="prettyPhoto[gallery1]" class="zoom tip" title="Zoom"></a>
                                        </p>
                                    </article>
                                </div>
                            </div>
                            <h3><a href="product-detail.html">Guitar Classic</a></h3>
                            <span>$59.95</span>
                        </div>
                    </div>*@
                </div><!--end:container-2-->
                <div class="container-2">
                    <div style="clear:both; display:block; height:40px"></div>
                    <div class="ship">
                        <a href="#"><img src="/Images/service-1.png" alt=""></a>
                        <h4><a href="#">Free Shipping</a></h4>
                        <span>On order over $300</span>
                    </div>
                    <div class="subs">
                        <h4>Sign up for our Newsletter</h4>
                        <form action="#" method="post" class="subscribes">
                            <fieldset>
                                <input type="text" name="subscribe" class="subscribe" value="Subscribe" onblur="if (this.value == ''){this.value = 'Subscribe'; }" onfocus="if (this.value== 'Subscribe') {this.value = ''; }" />
                                <input type="submit" name="submit" value="Submit" class="submit" />
                            </fieldset>
                        </form>
                    </div>
                </div><!--end:container-2-->
            </div><!--end:content-wrap-->
            @*<footer>
                <div class="content-wrap">
                    <div class="one-fourth first">
                        <h4>Thông tin</h4>
                        <ul>
                            <li><a href="http://html5awesome.com/themeforest/shopymart/about.html">Giới thiệu</a></li>
                            <li><a href="#">Thông tin giao hàng</a></li>
                            <li><a href="#">Chính sách bảo mật</a></li>
                            <li><a href="#">Terms &amp; Điều khoản sử dụng</a></li>
                        </ul>
                    </div>
                    <div class="one-fourth">
                        <h4>Dịch vụ khách hàng</h4>
                        <ul>
                            <li><a href="contact.html">Liên hệ</a></li>
                            <li><a href="#">Trả về vận chuyển</a></li>
                            <li><a href="#">An toàn hàng</a></li>
                        </ul>
                    </div>
                    <div class="one-fourth">
                        <h4>Tính năng bổ sung</h4>
                        <ul>
                            <li><a href="#">Thương hiệu</a></li>
                            <li><a href="#">Các chi nhánh</a></li>
                            <li><a href="#">Đặc biệt</a></li>
                        </ul>
                    </div>
                    <div class="one-fourth">
                        <h4>Tài khoản của tôi</h4>
                        <ul>
                            <li><a href="account.html">Tài khoản của tôi</a></li>
                            <li><a href="#">Lịch sử đặt hàng</a></li>
                            <li><a href="wishlist.html">Ưa thích</a></li>
                            <li><a href="#">Bản tin</a></li>
                        </ul>
                    </div>
                </div>*@
                @*<div class="content-wrap">
                    <div style="clear:both; display:block;" class="social-wrap"></div>
                    <ul class="social">
                        <li><a href="#" class="tip" title="Facebook"><img src="images/social-icon-facebook.png" alt="Facebook"></a></li>
                        <li><a href="#" class="tip" title="Dribbble"><img src="images/social-icon-dribbble.png" alt="Dribbble"></a></li>
                        <li><a href="#" class="tip" title="Flickr"><img src="images/social-icon-flickr.png" alt="Flickr"></a></li>
                        <li><a href="#" class="tip" title="Pinterest"><img src="images/social-icon-pinterest.png" alt="Pinterest"></a></li>
                        <li><a href="#" class="tip" title="Twitter"><img src="images/social-icon-twitter.png" alt="Twitter"></a></li>
                        <li><a href="#" class="tip" title="RSS"><img src="images/social-icon-rss.png" alt="RSS"></a></li>
                    </ul>
                    <ul class="payment">
                        <li><a href="#" class="tip" title="Paypal"><img src="images/payment-icon-paypal.png" alt="Paypal"></a></li>
                        <li><a href="#" class="tip" title="American Express"><img src="images/payment-icon-ae.png" alt="American Express"></a></li>
                        <li><a href="#" class="tip" title="Discover"><img src="images/payment-icon-discover.png" alt="Discover"></a></li>
                        <li><a href="#" class="tip" title="Master Card"><img src="images/payment-icon-mastercard.png" alt="Master Card"></a></li>
                        <li><a href="#" class="tip" title="Visa"><img src="images/payment-icon-visa.png" alt="Visa"></a></li>
                    </ul>
                    <p style="clear:both; display:block;">&copy; 2013 <a href="index-2.html">Shopymart</a>, All Rights Reserved. Designed by: <a href="#">louiejiemahusay</a></p>
                </div>*@
            @*</footer>*@
        </div><!--end:container-->
    </div><!--end:page_wrap-->
</body>
</html>

