﻿@model WebsiteBanHang.Models.SanPham
@{
    ViewBag.Title = "Edit";
    if (ViewBag.Name == "admin")
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    if (ViewBag.Name == "member")
    {
        Layout = "~/Views/Shared/_LayoutGuitar.cshtml";
    }

}

<div class="content-wrap">
    <div style="clear:both; display:block; height:20px"></div>


    @using (Html.BeginForm("Edit", "Guitar"))
    {
        <div id="billing">
            <div id="form-register">
                <div class="one-third first">
                    <h3>Your Product Details</h3>
                    <div class="registerbox">
                        <fieldset>

                            <div class="control-group">
                                <label class="control-label"><span class="red">*</span>Tên SảnPhẩm :</label>
                                <div class="controls">

                                    @Html.TextBoxFor(m => m.sp_TenSanPham)
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label"><span class="red">*</span> Giá :</label>
                                <div class="controls">

                                    @Html.TextBoxFor(m => m.sp_GiaTien)
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label"><span class="red">*</span> Số Lượng :</label>
                                <div class="controls">

                                    @Html.TextBoxFor(m => m.sp_SoLuong)
                                </div>
                            </div>

                        </fieldset>
                    </div>
                </div>
                <div class="one-third">

                    <div class="registerbox">
                        <fieldset>
                            <br>

                            <div class="control-group">
                                <label class="control-label"><span class="red">*</span>Loại Sản Phẩm :</label>
                                <div class="controls">
                                    @Html.TextBoxFor(m => m.sp_Loai)

                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">
                                    <span class="red">*</span>Màu Sắc:
                                </label>
                                <div class="controls">


                                    @Html.TextBoxFor(m => m.sp_MauSac)
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">
                                    <span class="red">*</span>Hình Ảnh:
                                </label>
                                <div class="controls">
                                   @Html.TextBoxFor(m => m.sp_HinhAnh)<input type="button" value="Chọn ..." id="btnSelectImg" name="btnSelectImg" />
                                </div>
                            </div>

                        </fieldset>
                    </div>
                </div>

            </div>

            <input id="bt_new" type="submit" name="Update" value="Update" />
            <br><br><br />
        </div>
    }


    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            $("#sp_HinhAnh").click(function () {
                var finder = new CKFinder();
                finder.selectActionFunction = function (fileUrl) {
                    $('#Images').val(fileUrl);
                };
                finder.popup();
            });
        });
    </script>



    <div class="container-2">
        <div style="clear:both; display:block; height:40px"></div>
        <div class="ship">
            <a href="#"><img src="/Images/service-1.png" alt=""></a>
            <h4><a href="#">Free Shipping</a></h4>
            <span>On order over $300</span>
        </div>
        <div class="subs">
            <h4>Sign up for our Newsletter</h4>
            <form action="#" method="post" class="subscribes">
                <fieldset>
                    <input type="text" name="subscribe" class="subscribe" value="Subscribe" onblur="if (this.value == ''){this.value = 'Subscribe'; }" onfocus="if (this.value== 'Subscribe') {this.value = ''; }" />
                    <input type="submit" name="submit" value="Submit" class="submit" />
                </fieldset>
            </form>
        </div>
    </div>
</div><!--end:content-wrap-->


