﻿@model WebsiteBanHang.Models.IndextProduct
@{
  
    ViewBag.Title = "Index";
    if (ViewBag.Name == "admin")
    { 
         Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    if (ViewBag.Name == "member")
    {
        Layout = "~/Views/Shared/_LayoutGuitar.cshtml";
    }
    if (ViewBag.Name == "visitor")
    {
        Layout = "~/Views/Shared/_LayoutVisitor.cshtml";
    }
   
}

<div class="content-wrap">
    <div id="featured">
        <div class="camera_wrap camera_emboss " id="camera_wrap_1">
            <div data-thumb="/Images/slides/thumbs/bridge.jpg" data-src="/Images/featured/featured-1.jpg">
                <div class="camera_caption moveFromLeft">
                    <h2>Quý khách có hài lòng khi đến với chúng tôi</h2>
                    <div class="button">
                        <a href="product.html">Xem Sản Phẩm</a>
                        <a href="checkout.html">Đặt Hàng</a>
                    </div>
                </div>
            </div>
            <div data-thumb="/Images/slides/thumbs/leaf.jpg" data-src="/Images/featured/featured-2.jpg">
                <div class="camera_caption moveFromLeft">
                    <h2>Bạn muốn sở hữu cây đàn guitar như ý?</h2>
                    <div class="button">
                        <a href="product.html">Xem Sản Phẩm</a>
                        <a href="checkout.html">Đặt Hàng</a>
                    </div>
                </div>
            </div>
            <div data-thumb="/Images/slides/thumbs/road.jpg" data-src="/Images/featured/featured-3.jpg">
                <div class="camera_caption moveFromLeft">
                    <h2>Bạn có muốn đặt hàng không?</h2>
                    <div class="button">
                        <a href="product.html">Xem Sản Phẩm</a>
                        <a href="checkout.html">Đặt Hàng</a>
                    </div>
                </div>
            </div>
            <div data-thumb="/Images/slides/thumbs/road.jpg" data-src="/Images/featured/featured-4.jpg">
                <div class="camera_caption moveFromLeft">
                    <h2>Chất lương,giá rẻ,thân thiện</h2>
                    <div class="button">
                        <a href="product.html">Xem Sản Phẩm</a>
                        <a href="checkout.html">Đặt Hàng</a>
                    </div>
                </div>
            </div>
        </div><!-- #camera_wrap_1 -->
        <div style="clear:both; display:block; height:40px"></div>
    </div><!--end:featured-->
    <div id="intro">
        <div class="one-fourth serv first">
            <img src="/Images/service-1.png" alt="">
            <h3><a href="#">Free Shipping</a></h3>
            <span>Available</span>
        </div>
        <div class="one-fourth serv">
            <img src="/Images/service-2.png" alt="">
            <h3><a href="#">30 Days Return</a></h3>
            <span>Easy Return</span>
        </div>
        <div class="one-fourth serv">
            <img src="/Images/service-3.png" alt="">
            <h3><a href="#">Call Us</a></h3>
            <span>(63) 912 3456</span>
        </div>
        <div class="one-fourth serv">
            <img src="/Images/service-4.png" alt="">
            <h3><a href="#">Secured</a></h3>
            <span>Checkout</span>
        </div>
    </div>
    <div class="container-2">
        <section class="content-wrapper main-content clear-fix">


            

            <section class="content">
                <div class="list_work">
                    <h4>Favorite Products</h4>
                    <ul id="mycarouselnew" class="jcarousel-skin-tango item">
                        @for (int i = 0; i < Model.Fav.Count(); i++)
                        {
                            <li>
                                <img src="@Model.Fav[i].sp_HinhAnh" alt="" />

                                <span>@Model.Fav[i].sp_TenSanPham<br><small class="sale"></small>&nbsp;&nbsp;<small>$@Model.Fav[i].sp_GiaTien</small></span>
                                <span class="sale">Fav</span>
                                <ul class="menu-button">
                                    @{String[] image = @Model.Fav[i].sp_HinhAnh.Split('.');
                                      String bigImages = image[0] + "b." + image[1];
                                     }
                                    <li><a href="@bigImages" rel="prettyPhoto[gallery1]" class="zoom tip" title="Zoom"></a></li>
                                    <li><a href="#" class="wishlist tip" title="Add to Wishlist"></a></li>
                                    @if (ViewBag.Name == "member")
                                    {
                                        <li>
                                            <a class="cart tip" title="Add to cart" href="@Url.Action("AddCart", new { id = @Model.Fav[i].sp_Id })">
                                            </a>
                                        </li>
                                    }
                                    <li><a class="link tip" title="View Detail" href="@Url.Action("Detail", new { id = @Model.Fav[i].sp_Id })">
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                    </ul>
                </div><!--end:list_work-->
                <div class="list_work list_work2">


                    <h4>New Arrival</h4>
                    <ul id="mycarouselnew" class="jcarousel-skin-tango item">
                        @for(int i=0;i<Model.New.Count();i++)
                        {
                      <li>
                            <img src="@Model.New[i].sp_HinhAnh" alt="" />

                            <span>@Model.New[i].sp_TenSanPham<br><small class="sale"></small>&nbsp;&nbsp;<small>$@Model.New[i].sp_GiaTien</small></span>
                            <span class="new">New</span>
                          <ul class="menu-button">
                              @{String[] image = @Model.New[i].sp_HinhAnh.Split('.');
                              String bigImages = image[0] + "b." + image[1];
                              }
                              <li><a href="@bigImages" rel="prettyPhoto[gallery1]" class="zoom tip" title="Zoom"></a></li>
                              <li><a href="#" class="wishlist tip" title="Add to Wishlist"></a></li>

                              @if (ViewBag.Name == "member")
                              {
                                  <li>
                                      <a class="cart tip" title="Add to cart" href="@Url.Action("AddCart", new { id = @Model.New[i].sp_Id })">
                                      </a>
                                  </li>
                              }

                              <li>
                                  <a class="link tip" title="View Detail" href="@Url.Action("Detail", new { id = @Model.New[i].sp_Id })">
                                  </a>
                              </li>
                          </ul>

                        </li>
                        }

                    </ul>
                </div><!--end:list_work-->
            </section>




        </section>

        <aside class="sidebar">
            <div class="side">
                <h4>Bán Chạy Nhất</h4>
                <div class="entry">
                    <div class="da-thumbs">
                        <div>
                            <img src="/Images/products/thumb-1.jpg" alt="">
                            <article class="da-animate da-slideFromRight" style="display: block;">
                                <p><a href="product-detail.html" class="link"></a></p>
                            </article>
                        </div>
                    </div>
                    <h3><a href="product-detail.html">Bộ Khuyếch Đại Guitar</a></h3>
                    <small>$559.000</small>
                </div>
                <div class="entry">
                    <div class="da-thumbs">
                        <div>
                            <img src="/Images/products/thumb-2.jpg" alt="">
                            <article class="da-animate da-slideFromRight" style="display: block;">
                                <p><a href="product-detail.html" class="link"></a></p>
                            </article>
                        </div>
                    </div>
                    <h3><a href="product-detail.html">GuiTar Điện</a></h3>
                    <small>$759.000</small>
                </div>
            </div><!--end:side-->
            <div class="side">
                <h4>Binh luận gần đây</h4>
                <div class="entry">
                    <div class="da-thumbs">
                        <div>
                            <img src="/Images/products/thumb-1.jpg" alt="">
                            <article class="da-animate da-slideFromRight" style="display: block;">
                                <p><a href="blog.html" class="link"></a></p>
                            </article>
                        </div>
                    </div>
                    <h3><a href="blog.html">Sản Phẩm khuyếch đại...</a></h3>
                    <span><a href="blog.html">Posted on:02/28/13</a></span>
                </div>
                <div class="entry">
                    <div class="da-thumbs">
                        <div>
                            <img src="/Images/products/thumb-2.jpg" alt="">
                            <article class="da-animate da-slideFromRight" style="display: block;">
                                <p><a href="blog.html" class="link"></a></p>
                            </article>
                        </div>
                    </div>
                    <h3><a href="blog.html">Sản Phẩm Guitar Điện....</a></h3>
                    <span><a href="blog.html">Posted on:02/28/13</a></span>
                </div>
            </div><!--end:side-->
            <div class="side">
                <h4>Khách Hàng Đến với chúng tôi!</h4>
                <ul class="fade">
                    <li class="feed">
                        Dễ Dàng Mua bán sản phẩm<br>
                        <small><a href="#">&mdash; Dũng Đặng</a></small>
                    </li>
                    <li class="feed">
                        Uy tín,Chất Lượng cao!<br>
                        <small><a href="#">&mdash;Dũng Đặng</a></small>
                    </li>
                    <li class="feed">
                        Giá rẻ,khuyến mãi đặc biệt!<br>
                        <small><a href="#">&mdash; Dũng Đặng</a></small>
                    </li>
                    <li class="feed">
                        Easy shopping experience! Pricing is attractive! Lots of styles to choose from and great pics!<br>
                        <small><a href="#">&mdash;Dũng Đặng</a></small>
                    </li>
                </ul>
            </div>
        </aside>
    </div><!--end:container-2-->
    <div class="container-2">
        <div style="clear:both; display:block; height:40px"></div>
        <div class="ship">
            <a href="#"><img src="/Images/service-1.png" alt=""></a>
            <h4><a href="#">Free Shipping</a></h4>
            <span>On order over $300</span>
        </div>
        <div class="subs">
            <h4>Sign up for our Newsletter</h4>
            <form action="#" method="post" class="subscribes">
                <fieldset>
                    <input type="text" name="subscribe" class="subscribe" value="Subscribe" onblur="if (this.value == ''){this.value = 'Subscribe'; }" onfocus="if (this.value== 'Subscribe') {this.value = ''; }" />
                    <input type="submit" name="submit" value="Submit" class="submit" />
                </fieldset>
            </form>
        </div>
    </div><!--end:container-2-->
</div><!--end:content-wrap-->


