﻿ @model  IList<WebsiteBanHang.Models.PhieuDatHang>
@{
    ViewBag.Title = "ListPDH";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="content-wrap">
    <div style="clear:both; display:block; height:20px"></div>
    <div id="intro">
        <div class="one-fourth serv first">
            <img src="/Images/service-1.png" alt="">
            <h3><a href="#">Free Shipping</a></h3>
            <span>Available</span>
        </div>
        <div class="one-fourth serv">
            <img src="/Images/service-2.png" alt="">
            <h3><a href="#">30 Days Return</a></h3>
            <span>Easy Return</span>
        </div>
        <div class="one-fourth serv">
            <img src="/Images/service-3.png" alt="">
            <h3><a href="#">Call Us</a></h3>
            <span>(63) 912 3456</span>
        </div>
        <div class="one-fourth serv">
            <img src="/Images/service-4.png" alt="">
            <h3><a href="#">Secured</a></h3>
            <span>Checkout</span>
        </div>
    </div>
    <div class="container-2">
        <div style="clear:both; display:block; height:40px"></div>
        <h2>List &nbsp;<small> update</small></h2>

      
          










        <table class="shopping-cart">
            <tr>
                <th class="name">Khách Hàng</th>
                <th class="model">Tổng TIền</th>
                <th class="quantity">Tình Trạng</th>
                <th class="price">Địa Chỉ</th>
                <th class="price_1">Thanh Toán</th>
                <th class="price_2">Vận Chuyển</th>
                <th class="total">Ngày Đặt</th>
                <th class="total_2">Ngày Giao</th>
                <th class="action">Chỉnh Sửa</th>
            </tr>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td class="name"><a href="#">@Model[i].pdh_MaKH</a></td>
                    <td class="model">@Model[i].pdh_TongTien</td>
                    <td class="quantity"><input type="text" size="1" value="@Model[i].pdh_TinhTrang" name="quantity[40]" class="span1"></td>
                    <td class="price">@Model[i].pdh_DiaChi</td>
                    <td class="price_1">@Model[i].pdh_CachThanhToan</td>
                    <td class="price_1">@Model[i].pdh_CachVanChuyen</td>
                    <td class="total">@Model[i].pdh_NgayDat</td>
                    <td class="total_2">@Model[i].pdh_NgayGiao</td>
                    <td class="remove-update">
                        <a class="tip remove" title="Remove" href="@Url.Action("DeletePDH", new { id = @Model[i].pdh_Id })">
                            <img src="@Url.Content("/Images/remove.png")" />
                        </a>
                        <a class="tip update" title="Update" href="@Url.Action("UpdatePDH", new { id = @Model[i].pdh_Id })">
                            <img src="@Url.Content("/Images/update.png")" />
                        </a>
                    </td>
                </tr>
            }
        </table>







        <div style="clear:both; display:block; height:40px"></div>
    </div><!--end:container-2-->
    <div class="container-2">
        <div style="clear:both; display:block; height:40px"></div>
        <div class="ship">
            <a href="#"><img src="/Images/service-1.png" alt=""></a>
            <h4><a href="#">Free Shipping</a></h4>
            <span>On order over $300</span>
        </div>
        <div class="subs">
            <h4>Sign up for our Newsletter</h4>
            <form action="#" method="post" class="subscribes">
                <fieldset>
                    <input type="text" name="subscribe" class="subscribe" value="Subscribe" onblur="if (this.value == ''){this.value = 'Subscribe'; }" onfocus="if (this.value== 'Subscribe') {this.value = ''; }" />
                    <input type="submit" name="submit" value="Submit" class="submit" />
                </fieldset>
            </form>
        </div>
    </div><!--end:container-2-->
 </div>




     
           









