﻿@{
    ViewBag.Title = "SignUp";
    if (ViewBag.Name == "admin")
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    else
    { 
        if (ViewBag.Name == "member")
        {
            Layout = "~/Views/Shared/_LayoutGuitar.cshtml";
        }
        else
        //if (ViewBag.Name == "visitor")
        {
            Layout = "~/Views/Shared/_LayoutVisitor.cshtml";
        }
    }
}

<div class="content-wrap">
    <div style="clear:both; display:block; height:20px"></div>
   
@using (Html.BeginForm("SignUp", "Guitar"))
{
    <div id="billing">
        <div id="form-register">
            <div class="one-third first">
                <h3>Your Personal Details</h3>
                <div class="registerbox">
                    <fieldset>

                        <div class="control-group">
                            <label class="control-label"><span class="red">*</span> Tên Đăng Nhập:</label>
                            <div class="controls">
                                @Html.TextBox("tendangnhap")
                                @*<input type="text" class="input-xlarge" name="fullName" value="@Model[0].ctgh_KhachHang.tk_TenNguoiDung">*@
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label"><span class="red">*</span> Pass:</label>
                            <div class="controls">
                                <input id="password" name="password" type="password" value="" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label"><span class="red">*</span> Tên Người Dùng:</label>
                            <div class="controls">                           
                                     @Html.TextBox("tennguoidung")
                                @*<input type="text" class="input-xlarge" name="phone" value="@Model[0].ctgh_KhachHang.tk_SoDienThoai">*@
                            </div>
                        </div>

                    </fieldset>
                </div>
            </div>
            <div class="one-third">

                <div class="registerbox">
                    <fieldset>
                        <br>

                        <div class="control-group">
                            <label class="control-label"><span class="red">*</span> Địa chỉ:</label>
                            <div class="controls">
                                @Html.TextBox("diachi")
                                @*  <input type="text" class="input-xlarge" name="address" value="@Model[0].ctgh_KhachHang.tk_DiaChi">*@
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">
                                <span class="red">*</span>Số Điện Thoại:
                            </label>
                            <div class="controls">

         
                                @Html.TextBox("sodienthoai")
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">
                                <span class="red">*</span>Email:
                            </label>
                            <div class="controls">
                                @Html.TextBox("email")
                            </div>
                        </div>

                    </fieldset>
                </div>
            </div>

        </div>

        <input id="bt_new" type="submit" value="SignUp">
        <br><br><br />
    </div>
}
    <div class="container-2">
        <div style="clear:both; display:block; height:40px"></div>
        <div class="ship">
            <a href="#"><img src="/Images/service-1.png" alt=""></a>
            <h4><a href="#">Free Shipping</a></h4>
            <span>On order over $300</span>
        </div>
        <div class="subs">
            <h4>Sign up for our Newsletter</h4>
            <form action="#" method="post" class="subscribes">
                <fieldset>
                    <input type="text" name="subscribe" class="subscribe" value="Subscribe" onblur="if (this.value == ''){this.value = 'Subscribe'; }" onfocus="if (this.value== 'Subscribe') {this.value = ''; }" />
                    <input type="submit" name="submit" value="Submit" class="submit" />
                </fieldset>
            </form>
        </div>
    </div>
</div><!--end:content-wrap-->

