﻿@model WebsiteBanHang.Models.ThongKe
@{
    ViewBag.Title = "ThongKe";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Guitar Shop - Responsive E-commerce Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/Content/style.css" type="text/css" rel="stylesheet" media="screen" /> <!-- General style -->
    <link href="~/Content/prettyPhoto.css" type="text/css" rel="stylesheet" media="screen"><!-- prettyPhoto -->
    <link href="~/Content/tipsy.css" type="text/css" rel="stylesheet" media="screen"><!--zoom-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700|Arvo:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/css3-mediaqueries.js"></script><!--mediaqueries-->
    <script type="text/javascript" src="~/Scripts/modernizr-1.7.min.js"></script><!--modernizr-->
    <script type="text/javascript" src="~/Scripts/jquery.prettyPhoto.js"></script><!-- prettyPhoto -->
    <script type="text/javascript" src="~/Scripts/jquery.tipsy.js"></script><!--tooltip-->
    <script type="text/javascript" src="~/Scripts/jquery-hover-effect.js"></script><!--Image Hover Effect-->
    <script type="text/javascript" src="~/Scripts/jquery.hoverIntent.minified.js"></script><!--menu-->
    <script type="text/javascript" src="~/Scripts/jquery.dcmegamenu.1.3.3.js"></script><!--menu-->
    <script type="text/javascript" src="~/Scripts/jquery.quovolver.js"></script><!--blockquote-->
    <script type="text/javascript" src="~/Scripts/organictabs.jquery.js"></script><!--tabs-->
    <script type="text/javascript" src="~/Scripts/custom.js"></script><!--custom-->

    <link rel="stylesheet" href="~/Content/jquery-ui.css">
    <script src="~/Scripts/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker").datepicker();
        });
    </script>

    <!--MENU-->
    <script type="text/javascript">
        $(document).ready(function ($) {
            $('#mega-menu-3').dcMegaMenu({
                rowItems: '2',
                speed: 'fast',
                effect: 'fade'
            });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $("#tab").organicTabs({
                "speed": 200
            });
        });
    </script>

</head>

<div class="content-wrap">
    <div style="clear:both; display:block; height:20px"></div>
    
    <div class="container-2">
        <div style="clear:both; display:block; height:40px"></div>
        <div id="tab" class="tab2">
            <ul class="nav nav2">
                <li class="nav-one"><a href="#checkout" class="current">Tất Cả</a></li>
                <li class="nav-two"><a href="#billing">Trong Năm</a></li>
                <li class="nav-three"><a href="#delivery">Trong Quý</a></li>
                <li class="nav-four"><a href="#deliverymethod">Trong Tháng</a></li>
                <li class="nav-five"><a href="#payment">Trong Ngày</a></li>
            </ul>
            <div class="list-wrap checkoutbox">

                <div id="checkout">
                    <table class="shopping-cart">
                        <tr>
                            <th class="image">Image</th>
                            <th class="name">Product Name</th>
                            <th class="model">Type</th>
                            <th class="total">Color</th>
                            <th class="quantity">Count</th>
                            <th class="price">Price</th>
                        </tr>
                        @for (int i = 0; i < @Model.All.Count(); i++)
                        {
                        <tr>
                            <td class="image"><a href="#"><img title="product" alt="product" src="@Model.All[i].tk_SanPham.sp_HinhAnh" height="50" width="50"></a></td>
                            <td class="name"><a href="#">@Model.All[i].tk_SanPham.sp_TenSanPham</a></td>
                            <td class="model">@Model.All[i].tk_SanPham.sp_Loai</td>
                            <td class="total">@Model.All[i].tk_SanPham.sp_MauSac</td>
                            <td class="quantity"><input type="text" size="1" value="@Model.All[i].tk_SoLuong" name="quantity[40]" class="span1"></td>
                            <td class="price">@Model.All[i].tk_TongTien</td>

                        </tr>

                        }
                    </table>
                    <table class="alltotal">
                        <tr>
                            <td><span class="extra grandtotal">Total :</span></td>
                            @if (@Model.All.Count() > 0)
                            {
                            <td><span class="grandtotal">$@Model.All[(@Model.All.Count() - 1)].tk_Tong</span></td>
                            }

                        </tr>
                    </table>

                </div>

                <div id="billing" class="hide">
                    <table class="shopping-cart">
                        <tr>
                            <th class="image">Image</th>
                            <th class="name">Product Name</th>
                            <th class="model">Type</th>
                            <th class="total">Color</th>
                            <th class="quantity">Count</th>
                            <th class="price">Price</th>
                        </tr>
                        @for (int i = 0; i < @Model.Nam.Count(); i++)
                        {
                        <tr>
                            <td class="image"><a href="#"><img title="product" alt="product" src="@Model.Nam[i].tk_SanPham.sp_HinhAnh" height="50" width="50"></a></td>
                            <td class="name"><a href="#">@Model.Nam[i].tk_SanPham.sp_TenSanPham</a></td>
                            <td class="model">@Model.Nam[i].tk_SanPham.sp_Loai</td>
                            <td class="total">@Model.Nam[i].tk_SanPham.sp_MauSac</td>
                            <td class="quantity"><input type="text" size="1" value="@Model.Nam[i].tk_SoLuong" name="quantity[40]" class="span1"></td>
                            <td class="price">@Model.Nam[i].tk_TongTien</td>

                        </tr>

                        }
                    </table>
                    <table class="alltotal">
                        <tr>
                            <td><span class="extra grandtotal">Total :</span></td>
                            @if (@Model.Nam.Count() > 0)
                            {
                                <td><span class="grandtotal">$@Model.Nam[(@Model.Nam.Count() - 1)].tk_Tong</span></td>
                            }

                        </tr>
                    </table>

                </div>

                <div id="delivery" class="hide">

                    <table class="shopping-cart">
                        <tr>
                            <th class="image">Image</th>
                            <th class="name">Product Name</th>
                            <th class="model">Type</th>
                            <th class="total">Color</th>
                            <th class="quantity">Count</th>
                            <th class="price">Price</th>
                        </tr>
                        @for (int i = 0; i < @Model.Quy.Count(); i++)
                        {
                        <tr>
                            <td class="image"><a href="#"><img title="product" alt="product" src="@Model.Quy[i].tk_SanPham.sp_HinhAnh" height="50" width="50"></a></td>
                            <td class="name"><a href="#">@Model.Quy[i].tk_SanPham.sp_TenSanPham</a></td>
                            <td class="model">@Model.Quy[i].tk_SanPham.sp_Loai</td>
                            <td class="total">@Model.Quy[i].tk_SanPham.sp_MauSac</td>
                            <td class="quantity"><input type="text" size="1" value="@Model.Quy[i].tk_SoLuong" name="quantity[40]" class="span1"></td>
                            <td class="price">@Model.Quy[i].tk_TongTien</td>

                        </tr>

                        }
                    </table>
                    <table class="alltotal">
                        <tr>
                            <td><span class="extra grandtotal">Total :</span></td>
                            @if (@Model.Quy.Count() > 0)
                            {
                            <td><span class="grandtotal">$@Model.Quy[(@Model.Quy.Count() - 1)].tk_Tong</span></td>
                            }

                        </tr>
                    </table>
                </div>

                <div id="deliverymethod" class="hide">

                    <table class="shopping-cart">
                        <tr>
                            <th class="image">Image</th>
                            <th class="name">Product Name</th>
                            <th class="model">Type</th>
                            <th class="total">Color</th>
                            <th class="quantity">Count</th>
                            <th class="price">Price</th>
                        </tr>
                        @for (int i = 0; i < @Model.Thang.Count(); i++)
                        {
                        <tr>
                            <td class="image"><a href="#"><img title="product" alt="product" src="@Model.Thang[i].tk_SanPham.sp_HinhAnh" height="50" width="50"></a></td>
                            <td class="name"><a href="#">@Model.Thang[i].tk_SanPham.sp_TenSanPham</a></td>
                            <td class="model">@Model.Thang[i].tk_SanPham.sp_Loai</td>
                            <td class="total">@Model.Thang[i].tk_SanPham.sp_MauSac</td>
                            <td class="quantity"><input type="text" size="1" value="@Model.Thang[i].tk_SoLuong" name="quantity[40]" class="span1"></td>
                            <td class="price">@Model.Thang[i].tk_TongTien</td>

                        </tr>

                        }
                    </table>
                    <table class="alltotal">
                        <tr>
                            <td><span class="extra grandtotal">Total :</span></td>
                            @if (@Model.Thang.Count() > 0)
                            {
                            <td><span class="grandtotal">$@Model.Thang[(@Model.Thang.Count() - 1)].tk_Tong</span></td>
                            }

                        </tr>
                    </table>
                </div>

                <div id="payment" class="hide">

                    <table class="shopping-cart">
                        <tr>
                            <th class="image">Image</th>
                            <th class="name">Product Name</th>
                            <th class="model">Type</th>
                            <th class="total">Color</th>
                            <th class="quantity">Count</th>
                            <th class="price">Price</th>
                        </tr>
                        @for (int i = 0; i < @Model.Ngay.Count(); i++)
                        {
                        <tr>
                            <td class="image"><a href="#"><img title="product" alt="product" src="@Model.Ngay[i].tk_SanPham.sp_HinhAnh" height="50" width="50"></a></td>
                            <td class="name"><a href="#">@Model.Ngay[i].tk_SanPham.sp_TenSanPham</a></td>
                            <td class="model">@Model.Ngay[i].tk_SanPham.sp_Loai</td>
                            <td class="total">@Model.Ngay[i].tk_SanPham.sp_MauSac</td>
                            <td class="quantity"><input type="text" size="1" value="@Model.Ngay[i].tk_SoLuong" name="quantity[40]" class="span1"></td>
                            <td class="price">@Model.Ngay[i].tk_TongTien</td>

                        </tr>

                        }
                    </table>
                    <table class="alltotal">
                        <tr>
                            <td><span class="extra grandtotal">Total :</span></td>
                            @if (@Model.Ngay.Count() > 0)
                            {
                            <td><span class="grandtotal">$@Model.Ngay[(@Model.Ngay.Count() - 1)].tk_Tong</span></td>
                            }

                        </tr>
                    </table>
                </div>

            </div>
        </div>
        <div style="clear:both; display:block; height:40px"></div>
    </div><!--end:container-2-->

    <div class="container-2">
        <div style="clear:both; display:block; height:40px"></div>
        <div class="ship">
            <a href="#"><img src="/Images/service-1.png" alt=""></a>
            <h4><a href="#">Free Shipping</a></h4>
            <span>On order over $300</span>
        </div>
        <div class="subs">
            <h4>Sign up for our Newsletter</h4>
            <form action="#" method="post" class="subscribes">
                <fieldset>
                    <input type="text" name="subscribe" class="subscribe" value="Subscribe" onblur="if (this.value == ''){this.value = 'Subscribe'; }" onfocus="if (this.value== 'Subscribe') {this.value = ''; }" />
                    <input type="submit" name="submit" value="Submit" class="submit" />
                </fieldset>
            </form>
        </div>
    </div>
</div><!--end:content-wrap-->



                @*<div class="content-wrap">
                    <div class="container-2">
                        <div style="clear:both; display:block; height:40px"></div>
                        <h2>Thống Kê &nbsp;<small> </small></h2>





                <table class="shopping-cart">
                        <tr>
                            <th class="image">Image</th>
                            <th class="name">Product Name</th>
                            <th class="model">Type</th>
                            <th class="total">Color</th>
                            <th class="quantity">Count</th>
                            <th class="price">Price</th>
                        </tr>
                        @for (int i = 0; i < Model.Count(); i++)
                        {
                            <tr>
                                <td class="image"><a href="#"><img title="product" alt="product" src="@Model[i].tk_SanPham.sp_HinhAnh" height="50" width="50"></a></td>
                                <td class="name"><a href="#">@Model[i].tk_SanPham.sp_TenSanPham</a></td>
                                <td class="model">@Model[i].tk_SanPham.sp_Loai</td>
                                <td class="total">@Model[i].tk_SanPham.sp_MauSac</td>
                                <td class="quantity"><input type="text" size="1" value="@Model[i].tk_SoLuong" name="quantity[40]" class="span1"></td>
                                <td class="price">@Model[i].tk_TongTien</td>

                            </tr>

                        }
                    </table>
                    <table class="alltotal">
                        <tr>
                            <td><span class="extra grandtotal">Total :</span></td>
                            @if (Model.Count() > 0)
                            {
                                <td><span class="grandtotal">$@Model[(Model.Count()-1)].tk_Tong</span></td>
                            }

                        </tr>
                    </table>
                    <div class="subs">
                        <form action="/GuiTar/CheckOut" class="subscribes">
                            <fieldset>
                                <input type="submit" value="CheckOut" class="submit" />
                            </fieldset>
                        </form>
                    </div>












                </div><!--end:container-2-->
                    </div><!--end:content-wrap-->*@
























@*<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Shopy Mart - Responsive E-commerce Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="~/Content/style.css" type="text/css" rel="stylesheet" media="screen" /> <!-- General style -->
        <link href="~/Content/prettyPhoto.css" type="text/css" rel="stylesheet" media="screen"><!-- prettyPhoto -->
        <link href="~/Content/tipsy.css" type="text/css" rel="stylesheet" media="screen"><!--zoom-->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700|Arvo:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="~/Scripts/jquery-1.8.2.min.js"></script>
        <script type="text/javascript" src="~/Scripts/css3-mediaqueries.js"></script><!--mediaqueries-->
        <script type="text/javascript" src="~/Scripts/modernizr-1.7.min.js"></script><!--modernizr-->
        <script type="text/javascript" src="~/Scripts/jquery.prettyPhoto.js"></script><!-- prettyPhoto -->
        <script type="text/javascript" src="~/Scripts/jquery.isotope.min.js"></script><!-- isotope -->
        <script type="text/javascript" src="~/Scripts/jquery.tipsy.js"></script><!--tooltip-->
        <script type="text/javascript" src="~/Scripts/jquery-hover-effect.js"></script><!--Image Hover Effect-->
        <script type="text/javascript" src="~/Scripts/jquery.hoverIntent.minified.js"></script><!--menu-->
        <script type="text/javascript" src="~/Scripts/jquery.dcmegamenu.1.3.3.js"></script><!--menu-->
        <script type="text/javascript" src="~/Scripts/jquery.quovolver.js"></script><!--blockquote-->
        <script type="text/javascript" src="~/Scripts/custom.js"></script><!--custom-->
        <!--MENU-->
        <script type="text/javascript">
            $(document).ready(function ($) {
                $('#mega-menu-3').dcMegaMenu({
                    rowItems: '2',
                    speed: 'fast',
                    effect: 'fade'
                });
            });
        </script>
    </head>
    <body>
        <div id="page_wrap">
            <div id="container">
                <div class="content-wrap">
                    <div style="clear:both; display:block; height:20px"></div>
                    <div class="container-2">
                        <div style="clear:both; display:block; height:40px"></div>
                        <h2>Đàn Guitar &nbsp;<small>Chọn cây đàn mà bạn thích.</small></h2>
                        <section id="options" class="clearfix filter-option">
                            <ul id="filters" class="option-set clearfix" data-option-key="filter">
                                <li><a href="#filter" data-option-value="*">Tất cả</a></li>
                                <li>/<a href="#filter" data-option-value=".sales">Khuyến mãi</a></li>
                                <li>/<a href="#filter" data-option-value=".newarrival">Sản phẩm mới</a></li>
                            </ul>
                        </section>
                        <div id="works-container">
                            <div class="element sales da-thumbs item" data-category="sales">
                                <div class="product-thumb-hover">
                                    <section>
                                        <img src="images/products/bass/1.jpg" alt="">
                                        <p class="sale">Sale</p>
                                        <article class="da-animate da-slideFromRight" style="display: block;">
                                            <h3>Guitar Bassc</h3>
                                            <p>
                                                <a href="product-detail.html" class="link tip" title="View Detail"></a>&nbsp;
                                                <a href="cart.html" class="cart tip" title="Add to cart"></a>&nbsp;&nbsp;
                                                <a href="images/preview/work_1_l.jpg" rel="prettyPhoto[gallery1]" class="zoom tip" title="Zoom"></a>
                                            </p>
                                        </article>
                                    </section>
                                </div>
                                <section class="right">
                                    <h3>Guitar Bass</h3>
                                    <span class="price"><small>$320.00</small>&nbsp;&nbsp; $95.00</span>
                                    <ul class="menu-button">
                                        <li><a href="cart.html" class="cart tip" title="Add to Cart"></a></li>
                                        <li><a href="images/preview/work_1_l.jpg" rel="prettyPhoto[gallery1]" class="zoom tip" title="Zoom"></a></li>
                                        <li><a href="wishlist.html" class="wishlist tip" title="Add to Wishlist"></a></li>
                                        <li><a href="compare.html" class="compare tip" title="Compare"></a></li>
                                        <li><a href="product-detail.html" class="link tip" title="View Detail"></a></li>
                                    </ul>
                                </section>
                            </div><!--end:item da-thumbs-->
                            <div class="element newarrival da-thumbs item" data-category="newarrival">
                                <div class="product-thumb-hover">
                                    <section>
                                        <img src="images/products/bass/2.jpg" alt="">
                                        <p class="new">New</p>
                                        <article class="da-animate da-slideFromRight" style="display: block;">
                                            <h3>Guitar Acoutic</h3>
                                            <p>
                                                <a href="product-detail.html" class="link tip" title="View Detail"></a>&nbsp;
                                                <a href="cart.html" class="cart tip" title="Add to cart"></a>&nbsp;&nbsp;
                                                <a href="images/preview/work_1_l.jpg" rel="prettyPhoto[gallery1]" class="zoom tip" title="Zoom"></a>
                                            </p>
                                        </article>
                                    </section>
                                </div>
                                <section class="right">
                                    <h3>Guitar Bass</h3>
                                    <span class="price">$95.00</span>
                                    <ul class="menu-button">
                                        <li><a href="cart.html" class="cart tip" title="Add to Cart"></a></li>
                                        <li><a href="images/preview/work_1_l.jpg" rel="prettyPhoto[gallery1]" class="zoom tip" title="Zoom"></a></li>
                                        <li><a href="wishlist.html" class="wishlist tip" title="Add to Wishlist"></a></li>
                                        <li><a href="compare.html" class="compare tip" title="Compare"></a></li>
                                        <li><a href="product-detail.html" class="link tip" title="View Detail"></a></li>
                                    </ul>
                                </section>
                            </div><!--end:item da-thumbs-->
                            <div class="element da-thumbs item" data-category="sales">
                                <div class="product-thumb-hover">
                                    <section>
                                        <img src="images/products/bass/3.jpg" alt="">
                                        <article class="da-animate da-slideFromRight" style="display: block;">
                                            <h3>Guitar Bass</h3>
                                            <p>
                                                <a href="product-detail.html" class="link tip" title="View Detail"></a>&nbsp;
                                                <a href="cart.html" class="cart tip" title="Add to cart"></a>&nbsp;&nbsp;
                                                <a href="images/preview/work_1_l.jpg" rel="prettyPhoto[gallery1]" class="zoom tip" title="Zoom"></a>
                                            </p>
                                        </article>
                                    </section>
                                </div>
                                <section class="right">
                                    <h3>Guitar Bass</h3>
                                    <span class="price">$95.00</span>
                                    <ul class="menu-button">
                                        <li><a href="cart.html" class="cart tip" title="Add to Cart"></a></li>
                                        <li><a href="images/preview/work_1_l.jpg" rel="prettyPhoto[gallery1]" class="zoom tip" title="Zoom"></a></li>
                                        <li><a href="wishlist.html" class="wishlist tip" title="Add to Wishlist"></a></li>
                                        <li><a href="compare.html" class="compare tip" title="Compare"></a></li>
                                        <li><a href="product-detail.html" class="link tip" title="View Detail"></a></li>
                                    </ul>
                                </section>
                            </div><!--end:item da-thumbs-->
                            <div class="element sales da-thumbs item" data-category="sales">
                                <div class="product-thumb-hover">
                                    <section>
                                        <img src="images/products/bass/4.jpg" alt="">
                                        <p class="sale">Sale</p>
                                        <article class="da-animate da-slideFromRight" style="display: block;">
                                            <h3>Guitar Bass</h3>
                                            <p>
                                                <a href="product-detail.html" class="link tip" title="View Detail"></a>&nbsp;
                                                <a href="cart.html" class="cart tip" title="Add to cart"></a>&nbsp;&nbsp;
                                                <a href="images/preview/work_1_l.jpg" rel="prettyPhoto[gallery1]" class="zoom tip" title="Zoom"></a>
                                            </p>
                                        </article>
                                    </section>
                                </div>
                                <section class="right">
                                    <h3>Guitar Bass</h3>
                                    <span class="price"><small>$320.00</small>&nbsp;&nbsp; $95.00</span>
                                    <ul class="menu-button">
                                        <li><a href="cart.html" class="cart tip" title="Add to Cart"></a></li>
                                        <li><a href="images/preview/work_1_l.jpg" rel="prettyPhoto[gallery1]" class="zoom tip" title="Zoom"></a></li>
                                        <li><a href="wishlist.html" class="wishlist tip" title="Add to Wishlist"></a></li>
                                        <li><a href="compare.html" class="compare tip" title="Compare"></a></li>
                                        <li><a href="product-detail.html" class="link tip" title="View Detail"></a></li>
                                    </ul>
                                </section>
                            </div><!--end:item da-thumbs-->
                            <div class="element da-thumbs item" data-category="sales">
                                <div class="product-thumb-hover">
                                    <section>
                                        <img src="images/products/bass/5.jpg" alt="">
                                        <article class="da-animate da-slideFromRight" style="display: block;">
                                            <h3>Guitar Bass</h3>
                                            <p>
                                                <a href="product-detail.html" class="link tip" title="View Detail"></a>&nbsp;
                                                <a href="cart.html" class="cart tip" title="Add to cart"></a>&nbsp;&nbsp;
                                                <a href="images/preview/work_1_l.jpg" rel="prettyPhoto[gallery1]" class="zoom tip" title="Zoom"></a>
                                            </p>
                                        </article>
                                    </section>
                                </div>
                                <section class="right">
                                    <h3>Guitar Bass</h3>
                                    <span class="price">$95.00</span>
                                    <ul class="menu-button">
                                        <li><a href="cart.html" class="cart tip" title="Add to Cart"></a></li>
                                        <li><a href="images/preview/work_1_l.jpg" rel="prettyPhoto[gallery1]" class="zoom tip" title="Zoom"></a></li>
                                        <li><a href="wishlist.html" class="wishlist tip" title="Add to Wishlist"></a></li>
                                        <li><a href="compare.html" class="compare tip" title="Compare"></a></li>
                                        <li><a href="product-detail.html" class="link tip" title="View Detail"></a></li>
                                    </ul>
                                </section>
                            </div><!--end:item da-thumbs-->
                            <div class="element newarrival da-thumbs item" data-category="newarrival">
                                <div class="product-thumb-hover">
                                    <section>
                                        <img src="images/products/bass/6.jpg" alt="">
                                        <p class="new">New</p>
                                        <article class="da-animate da-slideFromRight" style="display: block;">
                                            <h3>Guitar Bass</h3>
                                            <p>
                                                <a href="product-detail.html" class="link tip" title="View Detail"></a>&nbsp;
                                                <a href="cart.html" class="cart tip" title="Add to cart"></a>&nbsp;&nbsp;
                                                <a href="images/preview/work_1_l.jpg" rel="prettyPhoto[gallery1]" class="zoom tip" title="Zoom"></a>
                                            </p>
                                        </article>
                                    </section>
                                </div>
                                <section class="right">
                                    <h3>Guitar Bass</h3>
                                    <span class="price">$95.00</span>
                                    <ul class="menu-button">
                                        <li><a href="cart.html" class="cart tip" title="Add to Cart"></a></li>
                                        <li><a href="images/preview/work_1_l.jpg" rel="prettyPhoto[gallery1]" class="zoom tip" title="Zoom"></a></li>
                                        <li><a href="wishlist.html" class="wishlist tip" title="Add to Wishlist"></a></li>
                                        <li><a href="compare.html" class="compare tip" title="Compare"></a></li>
                                        <li><a href="product-detail.html" class="link tip" title="View Detail"></a></li>
                                    </ul>
                                </section>
                            </div><!--end:item da-thumbs-->
                            <div class="element da-thumbs item" data-category="sales">
                                <div class="product-thumb-hover">
                                    <section>
                                        <img src="images/products/bass/7.jpg" alt="">
                                        <article class="da-animate da-slideFromRight" style="display: block;">
                                            <h3>Guitar Bass</h3>
                                            <p>
                                                <a href="product-detail.html" class="link tip" title="View Detail"></a>&nbsp;
                                                <a href="cart.html" class="cart tip" title="Add to cart"></a>&nbsp;&nbsp;
                                                <a href="images/preview/work_1_l.jpg" rel="prettyPhoto[gallery1]" class="zoom tip" title="Zoom"></a>
                                            </p>
                                        </article>
                                    </section>
                                </div>
                                <section class="right">
                                    <h3>Guitar Bass</h3>
                                    <span class="price">$95.00</span>
                                    <ul class="menu-button">
                                        <li><a href="cart.html" class="cart tip" title="Add to Cart"></a></li>
                                        <li><a href="images/preview/work_1_l.jpg" rel="prettyPhoto[gallery1]" class="zoom tip" title="Zoom"></a></li>
                                        <li><a href="wishlist.html" class="wishlist tip" title="Add to Wishlist"></a></li>
                                        <li><a href="compare.html" class="compare tip" title="Compare"></a></li>
                                        <li><a href="product-detail.html" class="link tip" title="View Detail"></a></li>
                                    </ul>
                                </section>
                            </div><!--end:item da-thumbs-->
                            <div class="element da-thumbs item" data-category="sales">
                                <div class="product-thumb-hover">
                                    <section>
                                        <img src="images/products/bass/8.jpg" alt="">
                                        <article class="da-animate da-slideFromRight" style="display: block;">
                                            <h3>Guitar Bass</h3>
                                            <p>
                                                <a href="product-detail.html" class="link tip" title="View Detail"></a>&nbsp;
                                                <a href="cart.html" class="cart tip" title="Add to cart"></a>&nbsp;&nbsp;
                                                <a href="images/preview/work_1_l.jpg" rel="prettyPhoto[gallery1]" class="zoom tip" title="Zoom"></a>
                                            </p>
                                        </article>
                                    </section>
                                </div>
                                <section class="right">
                                    <h3>Guitar Bass</h3>
                                    <span class="price">$95.00</span>
                                    <ul class="menu-button">
                                        <li><a href="cart.html" class="cart tip" title="Add to Cart"></a></li>
                                        <li><a href="images/preview/work_1_l.jpg" rel="prettyPhoto[gallery1]" class="zoom tip" title="Zoom"></a></li>
                                        <li><a href="wishlist.html" class="wishlist tip" title="Add to Wishlist"></a></li>
                                        <li><a href="compare.html" class="compare tip" title="Compare"></a></li>
                                        <li><a href="product-detail.html" class="link tip" title="View Detail"></a></li>
                                    </ul>
                                </section>
                            </div><!--end:item da-thumbs-->
                        </div><!--end:works-container-->
                        <ul id="pagination">
                            <li><a class="current" href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">next</a></li>
                        </ul>
                        <div style="clear:both; display:block; height:40px"></div>
                    </div><!--end:container-2-->
                </div><!--end:content-wrap-->
            </div><!--end:container-->
        </div><!--end:page_wrap-->
        <script type="text/javascript">
            var $container = $('#works-container');
            //------ISOTOPE-------------
            $container.isotope({
                itemSelector: '.element'
            });
            var $optionSets = $('#options .option-set'),
                  $optionLinks = $optionSets.find('a');

            $optionLinks.click(function () {
                var $this = $(this);
                // don't proceed if already selected
                if ($this.hasClass('selected')) {
                    return false;
                }
                var $optionSet = $this.parents('.option-set');
                $optionSet.find('.selected').removeClass('selected');
                $this.addClass('selected');

                // make option object dynamically, i.e. { filter: '.my-filter-class' }
                var options = {},
                    key = $optionSet.attr('data-option-key'),
                    value = $this.attr('data-option-value');
                // parse 'false' as false boolean
                value = value === 'false' ? false : value;
                options[key] = value;
                if (key === 'layoutMode' && typeof changeLayoutMode === 'function') {
                    // changes in layout modes need extra logic
                    changeLayoutMode($this, options)
                } else {
                    // otherwise, apply new options
                    $container.isotope(options);
                }

                return false;
            });
        </script>
    </body>*@