﻿@model  IList<WebsiteBanHang.Models.SanPham>
@{
    ViewBag.Title = "Update";
    if (ViewBag.Name == "admin")
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    if (ViewBag.Name == "member")
    {
        Layout = "~/Views/Shared/_LayoutGuitar.cshtml";
    }

    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script src="~/Content/ckfinder/ckfinder.js"></script>

}
<div class="content-wrap">
    <div id="intro">
        <div class="one-fourth serv first">
            <img src="/Images/service-1.png" alt="">
            <h3><a href="#">Free Shipping</a></h3>
            <span>Available</span>
        </div>
        <div class="one-fourth serv">
            <img src="/Images/service-2.png" alt="">
            <h3><a href="#">30 Days Return</a></h3>
            <span>Easy Return</span>
        </div>
        <div class="one-fourth serv">
            <img src="/Images/service-3.png" alt="">
            <h3><a href="#">Call Us</a></h3>
            <span>(63) 912 3456</span>
        </div>
        <div class="one-fourth serv">
            <img src="/Images/service-4.png" alt="">
            <h3><a href="#">Secured</a></h3>
            <span>Checkout</span>
        </div>
    </div>
    <div class="container-2">
                <h2>Update</h2>
                <table class="shopping-cart">
                    <tr>
                        <th class="image">Image</th>
                        <th class="name">Product Name</th>
                        <th class="model">Type</th>
                        <th class="quantity">Count</th>
                        <th class="price">Price</th>
                        <th class="total">Color</th>
                        <th class="action">Action</th>
                    </tr>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <td class="image"><a href="#"><img title="product" alt="product" src="@Model[i].sp_HinhAnh" height="50" width="50"></a></td>
                            <td class="name"><a href="#">@Model[i].sp_TenSanPham</a></td>
                            <td class="model">@Model[i].sp_Loai</td>
                            <td class="quantity"><input type="text" size="1" value="@Model[i].sp_SoLuong" name="quantity[40]" class="span1"></td>
                            <td class="price">@Model[i].sp_GiaTien</td>
                            <td class="total">@Model[i].sp_MauSac</td>
                            <td class="remove-update">

                                <a class="tip update" title="Update" href="@Url.Action("Edit", new { id = @Model[i].sp_Id })">
                                    <img src="@Url.Content("/Images/update.png")" />
                                </a>

                                <a class="tip remove" title="Remove" href="@Url.Action("Delete", new { id = @Model[i].sp_Id })">
                                    <img src="@Url.Content("/Images/remove.png")" />
                                </a>
                            </td>
                        </tr>
                    }
                </table>
         
    </div><!--end:container-2-->
</div><!--end:content-wrap-->