.list_work{ border-bottom:1px solid #e5e5e5; width:100%; float:left; padding-bottom:40px; margin-bottom:40px; position:relative !important;}
.list_work2{ border-bottom:0; margin-bottom:0;}
.list_work h2{ float:left; }

.jcarousel-skin-tango .jcarousel-container {
	width:100%;
	padding:0;
	float:left;
}

.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    max-width: 100%;
    padding:0;
	margin:0;
}

.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
	top:2%;
    width: 100%;
}
.jcarousel-skin-tango .jcarousel-item {
	float:left;
    width: 200px;
	height:250px;
	opacity:1;
	padding-bottom:10px;
	text-align:center;
	position:relative;
}
/*--------------------*/
#mycarouselnew .jcarousel-item { height:290px;}
#mycarouselnew .jcarousel-item ul{ text-align:center; margin-top:10px; float:left; width:100%;}
#mycarouselnew .jcarousel-item ul li{ width:32px; height:32px; display:inline-block;}
#mycarouselnew .jcarousel-item ul li a{ height:30px; text-indent:-999999px; display:block;}
#mycarouselnew .jcarousel-item ul li a.cart{ background:url(../images/icon-addcart.png) no-repeat center #f5640c;}
#mycarouselnew .jcarousel-item ul li a.cart:hover{background:url(../images/icon-addcart.png) no-repeat center #aaa;}
#mycarouselnew .jcarousel-item ul li a.zoom{ background:url(../images/icon-zoom.png) no-repeat center #f5640c;}
#mycarouselnew .jcarousel-item ul li a.zoom:hover{background:url(../images/icon-zoom.png) no-repeat center #aaa;}
#mycarouselnew .jcarousel-item ul li a.wishlist{ background:url(../images/icon-heart.png) no-repeat center #f5640c;}
#mycarouselnew .jcarousel-item ul li a.wishlist:hover{background:url(../images/icon-heart.png) no-repeat center #aaa;}

#mycarouselnew .jcarousel-item ul li a.link{ background:url(../images/icon-link.png) no-repeat center #f5640c;}
#mycarouselnew .jcarousel-item ul li a.link:hover{background:url(../images/icon-link.png) no-repeat center #aaa;}

#mycarouselnew .jcarousel-item ul li a.compare{ background:url(../images/icon-compare.png) no-repeat center #f5640c;}
#mycarouselnew .jcarousel-item ul li a.compare:hover{background:url(../images/icon-compare.png) no-repeat center #aaa;}
#mycarouselnew .jcarousel-item ul li a:hover{ -ms-transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out;}
/*--------------------*/
.jcarousel-skin-tango .jcarousel-item img{ margin-bottom:10px;}
.jcarousel-skin-tango .jcarousel-item span{ color:#353535 !important; font-size:12px; font-family: 'Open Sans', sans-serif; display:block; width:100%; } 
.jcarousel-skin-tango .jcarousel-item span.sale{ position:absolute; top:0px; opacity:.9; left:0; width:35px; text-align:center; padding:7px 0; font-size:12px; background:#f5640c; color:#fff !important; -webkit-border-radius:30px;  -moz-border-radius:30px; -o-border-radius:30px; border-radius:30px; border:2px solid #ffad7b;}
.jcarousel-skin-tango .jcarousel-item span.new{ position:absolute; top:0px; opacity:.9; left:0; width:35px; text-align:center; padding:7px 0; font-size:12px; background:#5ea240; color:#fff !important; -webkit-border-radius:30px;  -moz-border-radius:30px; -o-border-radius:30px; border-radius:30px; border:2px solid #88c26e;}
.jcarousel-skin-tango .jcarousel-item small{ color:#f5640c !important; font-size:12px; font-family:Georgia, "Times New Roman", Times, serif; font-weight:bold;}
.jcarousel-skin-tango .jcarousel-item small.sale{ color:#757575 !important; text-decoration: line-through;}
.jcarousel-skin-tango .jcarousel-item:hover {
	opacity:1;
}

.jcarousel-skin-tango .jcarousel-item-horizontal{
	margin-left: 0;
    margin-right: 19px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: -38px;
    right: 0px;
    width: 18px;
    height: 18px;
    cursor: pointer;
	z-index:9;
	background: transparent url(../images/next-horizontal.png) top no-repeat;
}
.jcarousel-skin-tango:hover .jcarousel-next-horizontal:hover{ background-position:bottom;}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: -38px;
    right: 20px;
    width: 18px;
    height: 18px;
    cursor: pointer;
	z-index:9;
	background: transparent url(../images/prev-horizontal.png) top no-repeat;
}
.jcarousel-skin-tango:hover .jcarousel-prev-horizontal:hover{ background-position:bottom;}
