﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Guitar Shop - Responsive E-commerce Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @Styles.Render("~/Content/css")
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700|Arvo:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery_cur")
    <!--MENU-->
    <script type="text/javascript">
        $(document).ready(function ($) {
            $('#mega-menu-3').dcMegaMenu({
                rowItems: '2',
                speed: 'fast',
                effect: 'fade'
            });
        });
    </script>
</head>
<body>
    <div id="page_wrap">
        <header>
            <div id="top">
                <span>Hello, please come to us</span>
                <div>
                    <p>
                        Language:
                        <label>
                            <select>
                                <option selected>English </option>
                                <option>German</option>
                                <option>Spanish</option>
                            </select>
                        </label>
                    </p>
                    <p>
                        Currency:
                        <label>
                            <select>
                                <option selected>US Dollar - USD </option>
                                <option>Euro - EUR</option>
                                <option>British Pound - GBP</option>
                            </select>
                        </label>
                    </p>
                </div>
            </div><!--end:top-->
            <div id="top2">
                <ul class="myaccountmenu">
                  
                    <li><a class="register" href="/Guitar/SignUp">Đăng Ký</a></li>
                    <li class="login"><a href="#login-box" class="last login-window">Đăng Nhập</a></li>
                    <li>@Html.ActionLink("Đăng Xuất", "Logout", "Guitar")</li>
                </ul>
                <div id="login-box" class="login-popup">
                    <a href="#" class="close"><img src="/Images/process-stop.png" class="btn_close" title="Close Window" alt="Close" /></a>
                    <form method="post" class="signin" action="/Guitar/Login">


                        <fieldset class="textbox">
                            <label class="username">
                                <span>Tên Đăng Nhập</span>
                                <input id="username" name="username" value="" type="text" autocomplete="on" placeholder="Username">
                            </label>
                            <label class="password">
                                <span>Mật Khẩu</span>
                                <input id="password" name="password" value="" type="password" placeholder="Password">
                            </label>
                            <button class="submit button" type="submit">Đồng ý</button>
                            <p>
                                <a class="forgot" href="#">Bạn quên mật khẩu?</a> / <a class="register" href="register.html">Tạo tài khoản</a>
                            </p>
                        </fieldset>


                    </form>
                </div>

            </div><!--end:top2-->
            <div id="top3">
                <h1 class="logo"><a href="#">Shopy Mart</a></h1>

                <form action="/Guitar/Search" method="post" class="search_bar">
                    <fieldset>
                        <input type="text" name="search" class="search" value="Enter a keywords..." onblur="if (this.value == ''){this.value = 'Enter a keywords...'; }" onfocus="if (this.value== 'Enter a keywords...') {this.value = ''; }" />
                        <input type="submit" name="submit" value="Search" class="submit" />
                    </fieldset>
                </form>
            </div><!--end:top3-->
        </header>
        <div id="container">
            <nav>
                <ul id="mega-menu-3" class="mega-menu">
                    <li class="first">  @Html.ActionLink("Home", "Index", "GuiTar")</li>
                    <li>
                        @Html.ActionLink("Guitar", "List", "GuiTar")
                        <ul>
                            <li> @Html.ActionLink("Bass", "Bass", "GuiTar")</li>
                            <li> @Html.ActionLink("Acaustic", "Acaustic", "GuiTar")</li>

                            <li> @Html.ActionLink("Classic", "Classic", "GuiTar")</li>
                            <li> @Html.ActionLink("Điện", "Dien", "GuiTar")</li>

                        </ul>
                    </li>
                    
                    
                    <li>
                        <a href="/Guitar/About">Giới Thiệu</a>

                    </li>
                    <li><a href="/Guitar/Contact">Liên Hệ</a></li>
                </ul>
            </nav><!--end:grey-->


            @RenderBody()


            <footer>
                <div class="content-wrap">
                    <div class="one-fourth first">
                        <h4>Thông tin</h4>
                        <ul>
                            <li><a href="http://html5awesome.com/themeforest/shopymart/about.html">Giới thiệu</a></li>
                            <li><a href="#">Thông tin giao hàng</a></li>
                            <li><a href="#">Chính sách bảo mật</a></li>
                            <li><a href="#">Terms &amp; Điều khoản sử dụng</a></li>
                        </ul>
                    </div>
                    <div class="one-fourth">
                        <h4>Dịch vụ khách hàng</h4>
                        <ul>
                            <li><a href="contact.html">Liên hệ</a></li>
                            <li><a href="#">Trả về vận chuyển</a></li>
                            <li><a href="#">An toàn hàng</a></li>
                        </ul>
                    </div>
                    <div class="one-fourth">
                        <h4>Tính năng bổ sung</h4>
                        <ul>
                            <li><a href="#">Thương hiệu</a></li>
                            <li><a href="#">Các chi nhánh</a></li>
                            <li><a href="#">Đặc biệt</a></li>
                        </ul>
                    </div>
                    <div class="one-fourth">
                        <h4>Tài khoản của tôi</h4>
                        <ul>
                            <li><a href="account.html">Tài khoản của tôi</a></li>
                            <li><a href="#">Lịch sử đặt hàng</a></li>
                            <li><a href="wishlist.html">Ưa thích</a></li>
                            <li><a href="#">Bản tin</a></li>
                        </ul>
                    </div>
                </div>
                <div class="content-wrap">
                    <div style="clear:both; display:block;" class="social-wrap"></div>
                    <ul class="social">
                        <li><a href="#" class="tip" title="Facebook"><img src="/Images/social-icon-facebook.png" alt="Facebook"></a></li>
                        <li><a href="#" class="tip" title="Dribbble"><img src="/Images/social-icon-dribbble.png" alt="Dribbble"></a></li>
                        <li><a href="#" class="tip" title="Flickr"><img src="/Images/social-icon-flickr.png" alt="Flickr"></a></li>
                        <li><a href="#" class="tip" title="Pinterest"><img src="/Images/social-icon-pinterest.png" alt="Pinterest"></a></li>
                        <li><a href="#" class="tip" title="Twitter"><img src="/Images/social-icon-twitter.png" alt="Twitter"></a></li>
                        <li><a href="#" class="tip" title="RSS"><img src="/Images/social-icon-rss.png" alt="RSS"></a></li>
                    </ul>
                    <ul class="payment">
                        <li><a href="#" class="tip" title="Paypal"><img src="/Images/payment-icon-paypal.png" alt="Paypal"></a></li>
                        <li><a href="#" class="tip" title="American Express"><img src="/Images/payment-icon-ae.png" alt="American Express"></a></li>
                        <li><a href="#" class="tip" title="Discover"><img src="/Images/payment-icon-discover.png" alt="Discover"></a></li>
                        <li><a href="#" class="tip" title="Master Card"><img src="/Images/payment-icon-mastercard.png" alt="Master Card"></a></li>
                        <li><a href="#" class="tip" title="Visa"><img src="/Images/payment-icon-visa.png" alt="Visa"></a></li>
                    </ul>
                    <p style="clear:both; display:block;">&copy; 2013 <a href="index-2.html">GuitarShop</a>, All Rights Reserved. Designed by: <a href="#">louiejiemahusay</a></p>
                </div>
            </footer>
        </div><!--end:container-->
    </div><!--end:page_wrap-->
    <script type="text/javascript">
        //------JCAROUSEL-------------
        function mycarousel_initCallback(carousel) {
            // Disable autoscrolling if the user clicks the prev or next button.
            carousel.buttonNext.bind('click', function () {
                carousel.startAuto(0);
            });
            carousel.buttonPrev.bind('click', function () {
                carousel.startAuto(0);
            });
            // Pause autoscrolling if the user moves with the cursor over the clip.
            carousel.clip.hover(function () {
                carousel.stopAuto();
            }, function () {
                carousel.startAuto();
            });
        };
        jQuery(document).ready(function () {
            jQuery('#mycarousel, #mycarouselnew').jcarousel({
                auto: 0,
                wrap: 'last',
                initCallback: mycarousel_initCallback
            });
        });
    </script>
    <script type="text/javascript">
        jQuery(function ($) {
            $(".tweet").tweet({
                join_text: "auto",
                username: "html5awesome",
                avatar_size: 48,
                count: 3,
                auto_join_text_default: " we said, ",
                auto_join_text_ed: " we ",
                auto_join_text_ing: " we were ",
                auto_join_text_reply: " we replied ",
                auto_join_text_url: " we were checking out ",
                loading_text: "loading tweets..."
            });
        });
    </script>
    <script type="text/javascript">
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "../../../connect.facebook.net/en_US/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
</body>
</html>
